{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/project_confirmation/project_confirmation.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3" id="project-confirmation-app">
    <div id="error-message"></div>
    <div class="project-confirmation modal fade" id="project-confirmation-modal" tabindex="-1"
        aria-labelledby="project-confirmation" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project-confirmation-label">工程確認單</h5>
                    <a href="#" onclick="exportToPDF()">下載pdf</a>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-download_pdf">
                    <div class="container shadow-sm">
                        <form action="/restful/project_confirmation" id="form" method="POST" class="pb-4"
                            data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="form-row my-2">
                                <div class="col-12 col-md-6">
                                    <h5 style="font-size: 1.2rem;">
                                        <kbd>確認單描述</kbd>
                                    </h5>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="quotation_id_control">報價單號</label>
                                                <input class="form-control form-control-sm" name="quotation_id"
                                                    id="quotation_id_control" required></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="c_a_control">母案編號</label>
                                                <input class="form-control form-control-sm" name="c_a"
                                                    id="c_a_control"></input>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="project_confirmation_id_control">工確單編號</label>
                                                <input class="form-control form-control-sm"
                                                    name="project_confirmation_id"
                                                    id="project_confirmation_id_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="order_id_control">訂單編號</label>
                                                <input class="form-control form-control-sm" name="order_id"
                                                    id="order_id_control"></input>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="client_control">客戶簡稱</label>
                                                <input class="form-control form-control-sm" name="client"
                                                    id="client_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="project_name_control">工程名稱</label>
                                                <input class="form-control form-control-sm" name="project_name"
                                                    id="project_name_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="requisition_control">請購單位</label>
                                                <input class="form-control form-control-sm" name="requisition"
                                                    id="requisition_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="turnover_control">成交金額</label>
                                                <input class="form-control form-control-sm" name="turnover"
                                                    id="turnover_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="remark_control" class="col-form-label-sm">備註</label>
                                                <textarea class="form-control form-control-sm" name="remark"
                                                    id="remark_control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h5 style="font-size:1.2rem;">
                                        <kbd>完工狀態</kbd>
                                    </h5>
                                    <div class="form-row">
                                        <div class="col-12 my-4">
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="is_completed_y"></label>
                                                <input type="radio" class="form-check-input" id="is_completed_y"
                                                    name="is_completed" value="true" required>完成</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="is_completed_n"></label>
                                                <input type="radio" class="form-check-input" id="is_completed_n"
                                                    name="is_completed" value="false" required checked>尚未完成</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="completion_report_select2">完工回報人</label>
                                                <select class="select2" data-placeholder="選擇完工回報人"
                                                    name="completion_report_employee"
                                                    id="completion_report_employee_select2" multiple>
                                                    {% for employee in employees_list %}
                                                    <option value="{{ employee.id }}">{{ employee.user__username }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="completion_report_date_control">完工回報日期</label>
                                                <input type="date" class="form-control form-control-sm"
                                                    name="completion_report_date" id="completion_report_date_control"
                                                    :disabled="status == 'false'"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <label>完工重派附件</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    name="reassignment_attachment" id="reassignment_attachment_control">
                                                <label class="custom-file-label"
                                                    for="reassignment_attachment_control">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="project-confirmation-table container-fluid shadow-sm table-responsive-lg">


        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-show-export="true" data-toolbar="#toolbar" data-pagination="true" data-height="520"
            data-sticky-header="true" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-show-fullscreen="true"
            data-export-types="['excel', 'json', 'csv', 'txt']" data-export-options='{"fileName": "工程確認單"}'>
            <div id="toolbar">
                <div class="project-confirmation-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal"
                        data-target="#project-confirmation-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增工程確認單
                    </a>
                    <a href="/media/file_form_template/工程確認單樣板.xlsx" class="font-weight-bold" download="">
                        <i class="fa-solid fa-download fa-sm" style="color: #000000;"></i> 下載公版
                    </a>
                    <br>
                    <div class="upload-file font-weight-bold" onclick="importfile()">
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i>
                        <span id="importLink">匯入</span>
                        <input type="file" id="fileInput" style="display: none;" />
                    </div>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true"> </th>
                    <th data-force-hide="true"></th>
                    <th data-field="quotation_id" data-searchable="true" data-sortable="true">報價單號</th>
                    <th data-field="c_a" data-sortable="true">母案編號</th>
                    <th data-field="project_confirmation_id" data-sortable="true">工確單編號</th>
                    <th data-field="project_name" data-sortable="true">工程名稱</th>
                    <th data-field="client" data-sortable="true">客戶簡稱</th>
                    <th data-field="requisition" data-sortable="true">請購單位</th>
                    <th data-field="order_id" data-sortable="true">訂單編號</th>
                    <th data-field="turnover" data-sortable="true">成交金額</th>
                    <th data-field="is_completed" data-sortable="true">完工狀態</th>
                    <th data-field="completion_report_employee" data-sortable="true">完工回報人</th>
                    <th data-field="completion_report_date" data-sortable="true">完工回報日期</th>
                    <th data-field="remark" data-sortable="true">備註</th>
                    <th data-field="reassignment_attachment_link" data-sortable="true">完工重派附件</th>
                    <th data-field="created_date" data-sortable="true">建立日期</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;background: #f4f4f3;">
                {% for p in project_confirmation %}
                <tr>
                    <td>
                        <a type="button" data-url="project_confirmation" data-id="{{ p.id }}"
                            class="sys_get btn btn-sm btn-warning" data-toggle="modal"
                            data-target="#project-confirmation-modal">
                            <i class="fas fa-sm fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a data-url="project_confirmation" data-id="{{ p.id }}" type="button"
                            class="sys_del btn btn-sm btn-danger">
                            <i class="far fa-sm fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>{{ p.quotation_id }}</td>
                    <td>{{ p.c_a }}</td>
                    {% if p.project_confirmation_id %}<td>{{ p.project_confirmation_id }}</td>{% else %}<td></td>
                    {% endif %}
                    <td>{{ p.project_name }}</td>
                    <td>{{ p.client }}</td>
                    <td>{{ p.requisition }}</td>
                    <td>{{ p.order_id }}</td>
                    <td>{{ p.turnover }}</td>
                    {% if p.is_completed == True %}<td>是</td>{% else %}<td>否</td>{% endif %}
                    <td>
                        {% for employees_list in p.completion_report_employee.all %}
                        {{ employees_list.full_name }}
                        {% endfor %}
                    </td>
                    {% if p.completion_report_date %}<td>{{ p.completion_report_date }}</td>{% else %}<td>無</td>
                    {% endif %}
                    <td>{{ p.remark }}</td>
                    <td>{{ p.reassignment_attachment_link }}</td>
                    <td>{{ p.created_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/fileimport.js' %}",
            "{% static 'js/fuc/modaltopdf.js' %}"
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

</script>
{% endblock %}