{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/project_confirmation/project_confirmation.css' %}">

{% endblock %}


{% block main %}
<div class="main">
    <div class="project-confirmation-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            工程確認單
        </span>
        <a href="" 
           class="btn border border-dark ml-2" 
           data-toggle="collapse"
           data-target="#project-confirmation-modal">
           • 展開面板新增資料
        </a>
    </div>
    <div class="container shadow-sm collapse" id="project-confirmation-modal">
        <form action=""  method="POST" class="pb-4">
            {% csrf_token %}
            <div class="row my-4">
                <div class="col-12 col-md-6">
                    <h5 class="my-4" style="font-size: 1.2rem;">
                        <kbd>確認單描述</kbd>
                    </h5>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="quotation_id_control">報價單號</label>
                                <input class="form-control form-control-sm" id="quotation_id_control"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="project_name_control">工程名稱</label>
                                <input class="form-control form-control-sm" id="project_name_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="order_id_control">訂單編號</label>
                                <input class="form-control form-control-sm" id="order_id_control"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="c_a_control">母案編號</label>
                                <input class="form-control form-control-sm" id="c_a_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="client_control">客戶簡稱</label>
                                <input class="form-control form-control-sm" id="client_control"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="requisition_control">請購單位</label>
                                <input class="form-control form-control-sm" id="requisition_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="turnover_control" name="turnover">成交金額</label>
                                <input class="form-control form-control-sm" name="location" id="turnover_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="remark_control" class="col-form-label-sm">備註</label>
                                <textarea class="form-control form-control-sm" id="remark_control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="my-4" style="font-size:1.2rem;">
                        <kbd>完工狀態</kbd>
                    </h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="completion_report_guy_control">完工回報人</label>
                                <select class="chosen-select" data-placeholder="選擇完工回報人" id="completion_report_guy_control" multiple>
                                    <option value="1">王大明</option>
                                    <option value="1">王中明</option>
                                    <option value="1">王小明</option>
                                    <option value="1">王x明</option>
                                    <option value="1">王a明</option>
                                    <option value="1">王b明</option>
                                    <option value="1">王1明</option>
                                    <option value="1">王2明</option>
                                    <option value="1">王3明</option>
                                    <option value="1">王4明</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="completion_report_date_control">完工回報日期</label>
                                <input type="date" class="form-control form-control-sm"  id="completion_report_date_control"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn border border-dark rounded btn-block">新增</button>
        </form>
    </div>
    <div class="container shadow-sm table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>報價單號</th>
                    <th>工派單編號</th>
                    <th>母案編號</th>
                    <th>編輯</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td><button> 展開資料</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    
    $(".chosen-select").chosen({
        no_results_text: "查無此員工",
        width: "100%",
        // max_shown_results:3
    })
    
    
</script>
{% endblock %}