{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<style>
    .salary-header a {
        text-decoration: none;
        color: black;
    }

    .salary-table td {
        vertical-align: middle;
    }

    .select2-container {
        font-size: 14px;
    }
</style>

{% endblock %}


{% block main %}




<div class="main px-3">
    <div id="error-message"></div>

    {{year}}/{{month}} 薪資處理
    <div>
        <a href="{% url 'salary_list' year=prev_year month=prev_month %}">
            <i class="fa-solid fa-arrow-left" style="color: #000000;"></i> 上一個月
        </a>
        <a href="{% url 'salary_list' year=next_year month=next_month %}">
            <i class="fa-solid fa-arrow-right" style="color: #000000;"></i> 下一個月
        </a>
    </div>

    <div class="salary-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                <div class="salary-header container-fluid">

                    <x href="" type="button" onclick="set_month_salary()" class="font-weight-bold" id="sys_new">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 計算當月系統薪資
                    </x>
                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('員工薪資.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('員工薪資.xlsx')">匯出已選資料</button>
                    </div>
                    <button type="button">
                        <a
                            href="{% url 'salary_file' year=year month=month user=0 use_type=1 %}">
                            全員薪資單</a>
                    </button>
                    <button type="button">
                        <a href="{% url 'salary_file' year=year month=month user=0 use_type=0 %}">
                           全員激勵性獎金</a>
                    </button>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">編輯</th>
                    <th data-field="quotation_id" data-sortable="true">員工</th>
                    <th data-field="tax_id" data-sortable="true">系統薪資</th>
                    <th data-field="project_name" data-sortable="true">調整薪資</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for item in salaries %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                            value="{{ item.id }}"></td>
                    <td>
                        <a type="button" onclick="goLink('{{ item.user.id }}')"> 明細 <i class="fas fa-sm fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        {{ item.user.full_name}}
                    </td>

                    <td>
                        {{ item.system_total_money}}
                    </td>
                    <td>
                        {{ item.adjustment_total_money}}
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>

    function goLink(id) {
        var currentUrl = window.location.href + "/" + id;
        window.open(currentUrl, "_blank");

    }

    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

    var currentYear = "{{ year }}";
    var currentMonth = parseInt("{{ month }}");

    function set_month_salary() {
        Swal.fire({
            title: '小心執行',
            html: "準備計算系統薪資!<br><h5>此舉動會重製本頁的當月薪資! <strong>包括調整過的薪水!</strong></h5><br>如本頁無資料請放心使用",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '確定執行',
            cancelButtonText: '刪除'
        }).then((result) => {
            if (result.isConfirmed) {
                swal.fire({title: '生成中'})
                $.ajax({
                    type: "post",
                    url: "{% url 'salary_api' year month %}",
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    data: { year: currentYear, month: currentMonth },
                    success: function (response) {
                        alert("系統薪資計算完成")
                    },

                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status == 400 || xhr.status == 404) {
                            var errorMessage = xhr.responseJSON.error;
                            console.log(errorMessage);
                            showSwal("操作失敗", errorMessage, "error", false);
                        } else if (xhr.status === 403) {
                            alert("無權獲得該頁詳細或操作，請聯絡管理員要求對應權限");
                        } else {
                            alert("系統發生錯誤");
                            console.log(errorThrown);
                        }
                    },
                });
            }
        })


    }

    async function LoadData(event) {
        console.log("load")
        getdata = await GET_handleClick(event);
    }



</script>
{% endblock %}