{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<style>
    .salary-header a {
        text-decoration: none;
        color: black;
    }

    .salary-table td {
        vertical-align: middle;
    }

    .select2-container {
        font-size: 14px;
    }
</style>

{% endblock %}


{% block main %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab"
                            aria-controls="tab1" aria-selected="true">打卡扣款 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                            aria-selected="false">請假資訊 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="ta53"
                            aria-selected="false">加班費用 </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                            aria-selected="false">出勤津貼 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"
                            aria-selected="false">車程津貼 </a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        曠職: {{work_list.miss_hours}} 時 {{work_list.miss_minutes}} 分
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>狀態</th>
                                    <th>上班時間</th>
                                    <th>下班時間</th>
                                    <th>工作時間</th>
                                    <th>請假</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in work_list.list %}
                                {% if entry.status != 'ok' and entry.status != '3' %}
                                <tr>
                                    <td>{{ entry.date }}</td>
                                    <td>
                                        {% if entry.status == '1' %}
                                        漏打卡(當天只打一次卡)
                                        {% elif entry.status == '0' %}
                                        曠職
                                        {% elif entry.status == '3' %}
                                        整天請假
                                        {% elif entry.status == 'ok' %}
                                        完成工作
                                        {% elif entry.status == 'no' %}
                                        少於8小時
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.ear_time %}
                                        {{ entry.ear_time|time:"H:i" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.last_time %}
                                        {{ entry.last_time|time:"H:i" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ entry.hours }} {{entry.miss}}
                                    </td>
                                </tr>
                                {% if entry.results %}
                                <tr>
                                    <td colspan="6">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Total Hours</th>
                                                    <th>Total Minutes</th>
                                                    <th>Leave Type</th>
                                                    <th>Leave ID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for result in entry.results %}
                                                <tr>
                                                    <td>{{ result.total_hours }}</td>
                                                    <td>{{ result.total_minutes }}</td>
                                                    <td>{{ result.type_of_leave }}</td>
                                                    <td>{{ result.id }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {% endif %}

                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">

                        {{get_year_total_cost_list}}
                        {% for detail in leave_cost_details %}
                        假別:{{detail.name}} 扣款金額:{{detail.cost}}
                        <br>
                        {% endfor %}

                        <hr>
                        明細:
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>假別</th>
                                    <th>假單編號</th>
                                    <th>請假時數</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for detail in leave_details %}
                                {% if detail.total_hours != 0 or detail.total_minutes != 0 %}
                                {% for entry in detail.details %}
                                <tr>
                                    <td>{{ detail.name }}</td>
                                    <td>{{ entry.id }}</td>
                                    <td>{{ entry.time }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                        總費用:{{weekdays_overtime.total_money}}
                        <br>
                        平日補班費{{weekdays_overtime.weekdays_overtime_money}} /
                        平日加班小時{{weekdays_overtime.weekdays_overtime_hours}}
                        假日補班費{{weekdays_overtime.holiday_overtime_money}} /
                        假日加班小時{{weekdays_overtime.holiday_overtime_hours}}
                        免稅加班{{weekdays_overtime.overtime_pay}} / 工作津貼{{weekdays_overtime.work_allowance}}
                        <br>
                        <hr>
                        明細:
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>補卡單</th>
                                    <th>日期</th>
                                    <th>時數</th>
                                    <th>費用</th>
                                    <th>倍率</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in weekdays_overtime.details %}
                                <tr>
                                    <td>{{ detail.id }}</td>
                                    <td>{{ detail.date }}</td>
                                    <td>{{ detail.hour }}</td>
                                    <td>{{ detail.money }}</td>
                                    <td>{{ detail.magnification }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        伙食津貼{{job_money}} / 出差津貼{{job_food_money}}
                        <table>
                            <thead>
                                <tr>
                                    <th>派任計畫單單號</th>
                                    <th>地點與類型</th>
                                    <th>出勤對應價格</th>
                                    <th>伙食補貼價格</th>
                                    <th>天數</th>
                                    <th>備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in Project_Job_Assign_details %}
                                <tr>
                                    <td>{{ detail.id }}</td>
                                    <td>{{ detail.location }}</td>
                                    <td>{{ detail.money }}</td>
                                    <td>{{ detail.food }}</td>
                                    <td>{{ detail.day }}</td>
                                    <td>{{ detail.error }} {{ detail.food_error}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>


                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                        總和:{{Travel_Application_details_total_amount}}
                        車程津貼:{{Travel_Application_details_total_money}} 時
                        <table>
                            <thead>
                                <tr>
                                    <th>車程單號</th>
                                    <th>申請時間</th>
                                    <th>出發城市</th>
                                    <th>目的地城市</th>
                                    <th>明細</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in Travel_Application_details %}
                                <tr>
                                    <td>{{ detail.id }}</td>
                                    <td>{{ detail.date|date:"Y/m/d" }}</td>
                                    <td>{{ detail.location_city_go }}</td>
                                    <td>{{ detail.location_city_end }}</td>
                                    <td>{{ detail.detail }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>





<div class="main px-3">
    <div id="error-message"></div>
    <div class="salary-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                <h4>
                    {{salary.user.full_name}}的薪水明細
                </h4>
                明細名稱可自行新增(在搜尋欄輸入名稱後按下送出)
                <div class="salary-header container-fluid">
                    <div>
                        <div class="container mt-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="salary-details-select">明細名稱</label>
                                        <select class="select2 form-control form-control-sm" id="salary-details-select">
                                            <optgroup label="加項">
                                            </optgroup>
                                            <optgroup label="扣項">
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="money">輸入金額</label>
                                        <input type="number" class="form-control form-control-sm" id="money">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="money">類型</label>
                                        <select class="form-control form-control-sm " name="" id="detail_type">
                                            <option>應稅加項</option>
                                            <option>免稅加項</option>
                                            <option>應稅扣項</option>
                                            <option>免稅扣項</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="idfive">薪資單發放</label>
                                        <input type="checkbox" name="idfive" class="form-control" id="five" checked>
                                    </div>
                                </div>


                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                    <button onclick="add()" class="btn btn-primary">新增</button>

                                </div>
                            </div>

                        </div>



                        <button onclick="reset_salary()">重新計算薪水</button>
                        <button type="button" data-toggle="modal" data-target="#myModal">
                            系統薪水詳細
                        </button>
                        <button type="button">
                            <a
                                href="{% url 'salary_file' year=year month=month user=user use_type=1 %}">
                                薪資單</a>
                        </button>
                        <button type="button">
                            <a href="{% url 'salary_file' year=year month=month user=user use_type=0 %}">
                                激勵性獎金</a>
                        </button>
                    </div>
                    <div>
                        時薪: {{salary.user.get_hour_salary}}
                        曠職: {{work_list.miss_hours}} 時 {{work_list.miss_minutes}} 分
                        <br>
                        加項: {{salary.calculate_adjustment_addition}}
                        扣項: {{salary.calculate_adjustment_deduction}}
                        總和: {{salary.adjustment_total_money}}

                    </div>
                </div>
            </div>

            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">刪除</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">保存</th>
                    <th data-field="quotation_id" data-sortable="true">明細</th>
                    <th data-field="tax_id" data-sortable="true">系統薪資</th>
                    <th data-field="project_name" data-sortable="true">調整薪資</th>
                    <th data-field="TorF" data-sortable="true">扣款項目</th>
                    <th data-field="Tax1" data-sortable="true">應稅項目</th>
                    <th data-field="Tax" data-sortable="true">薪資單發放</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for item in salary.details.all %}
                <tr>
                    <td>
                        <a type="button" onclick="del('{{ item.id }}')"> 刪除 <i class="fas fa-sm fa-edit"></i>
                        </a>
                    <td>
                        <a type="button" onclick="save('{{ item.id }}')"> 送出 <i class="fas fa-sm fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="name" value="{{ item.name }}">
                    </td>

                    <td>
                        {{ item.system_amount}}
                    </td>
                    <td>
                        <input type="number" class="form-control" name="adjustment_amount"
                            value="{{ item.adjustment_amount }}">
                    </td>
                    <td>
                        <input type="checkbox" class="form-control" name="deduction"  {% if item.deduction%}
                            checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-control" name="tax_deduction"  {% if item.tax_deduction %} checked {% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-control" name="five"  {% if item.five%} checked{% endif %}>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/salarysingle/set_select2.js' %}",
            "{% static 'js/salarysingle/api.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });


</script>
{% endblock %}