{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee/employee.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3" id="employee-app">
    <div id="error-message"></div>
    <div class="employee modal fade" id="employee-modal" tabindex="-1" aria-labelledby="employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-label">員工管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/employee" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="form-row my-2">
                                <div class="col-12 col-md-6">
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="full_name_control">員工名稱</label>
                                                <input class="form-control form-control-sm" name="full_name"
                                                    id="full_name_control" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="position">職稱</label>
                                                <input class="form-control form-control-sm" name="position" id="position"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="departments">部門</label>
                                                <select class="form-control form-control-sm" data-placeholder="選擇部門"
                                                name="departments" id="completion_report_employee_select2">
                                                <option value="-1">請選擇部門</option>
                                                {% for department in department_list %}
                                                <option value="{{ department.id }}">{{ department.department_name }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="employee_id_control">員工ID</label>
                                                <input class="form-control form-control-sm" name="employee_id"
                                                    id="employee_id_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="gender_control">性別</label>
                                                {{ employee_form.gender }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="start_date_control">到職日期</label>
                                                <input type="date" class="form-control form-control-sm"
                                                    name="start_date" id="start_date_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="id_number_control">身份證字號</label>
                                                <input class="form-control form-control-sm" name="id_number"
                                                    id="id_number_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="blood_type_control">血型</label>
                                                {{ employee_form.blood_type }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="birthday_control">出生日期</label>
                                                <input type="date" class="form-control form-control-sm" name="birthday"
                                                    id="birthday_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="marital_status_control">婚姻狀況</label>
                                                {{ employee_form.marital_status }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="military_status_control">兵役狀況</label>
                                                {{ employee_form.military_status }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="phone_number_control">手機號碼</label>
                                                <input class="form-control form-control-sm" name="phone_number"
                                                    id="phone_number_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="contact_number_control">聯絡電話</label>
                                                <input class="form-control form-control-sm" name="contact_number"
                                                    id="contact_number_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="personal_email_control">個人E-Mail</label>
                                                <input class="form-control form-control-sm" name="personal_email"
                                                    id="personal_email_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="company_email_control">公司E-Mail</label>
                                                <input class="form-control form-control-sm" name="company_email"
                                                    id="company_email_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="birth_place_control">出生地</label>
                                                <input class="form-control form-control-sm" name="birth_place"
                                                    id="birth_place_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="location_control">所在地</label>
                                                <input class="form-control form-control-sm" name="location"
                                                    id="location_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="permanent_address_control">戶籍地址</label>
                                                <input class="form-control form-control-sm" name="permanent_address"
                                                    id="permanent_address_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="current_address_city_control">現居地址縣市</label>
                                                <input class="form-control form-control-sm" name="current_address_city"
                                                    id="current_address_city_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="current_address_control">現居地址</label>
                                                <input class="form-control form-control-sm" name="current_address"
                                                    id="current_address_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="emergency_contact_control">緊急聯絡人1</label>
                                                <input class="form-control form-control-sm" name="emergency_contact"
                                                    id="emergency_contact_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="emergency_contact_relations_control">關係1</label>
                                                <input class="form-control form-control-sm"
                                                    name="emergency_contact_relations"
                                                    id="emergency_contact_relations_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="emergency_contact_phone_control">聯絡人電話1</label>
                                                <input class="form-control form-control-sm"
                                                    name="emergency_contact_phone"
                                                    id="emergency_contact_phone_control"></input>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
        data-height="0" data-sticky-header="true" data-show-export="true" data-toolbar="#toolbar" data-search="true" data-show-columns="true"
        data-filter-strict-search="true" data-show-columns-toggle-all="true" data-show-fullscreen="true"
        data-show-pagination-switch="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]"
        data-export-types="['excel', 'json', 'csv', 'txt']" data-export-options='{"fileName": "員工"}'
        data-checkbox="true" data-filter-control="true">
            <div id="toolbar">
                <div class="employee-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal"data-target="#employee-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增員工
                    </a>
                    <br>
                    <a class="upload-file font-weight-bold" onclick="importfile()">
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i>
                        <span id="importLink">匯入</span>
                        <input type="file" id="fileInput" style="display: none;" />
                    </a>
                </div>
            </div>      
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th></th>
                    <th></th>
                    <th data-field="employee_id" data-sortable="true">員工編號</th>
                    <th data-field="full_name" data-sortable="true">員工姓名</th>
                    <th data-field="departments" data-sortable="true">部門</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for p in employee %}
                {% if p.user.is_active %}
                <tr>
                    <td>
                        <a type="button" data-url="employee" data-id="{{p.pk}}"
                        class="sys_get btn btn-sm btn-warning" data-toggle="modal"
                        data-target="#employee-modal"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        <a data-url="employee" data-id="{{p.pk}}" type="button"
                        class="sys_del btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                    <td>{{ p.employee_id }} </td>
                    <td>{{ p.full_name }}</td>
                    <td>{{ p.departments.department_name }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            // "{% static 'js/fuc/fileimport.js' %}",
            "{% static 'js/fuc/modaltopdf.js' %}"
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });


</script>
{% endblock %}