{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee/employee.css' %}">


{% endblock %}


{% block main %}
<div class="main" id="employee-app">
    <div id="error-message"></div>
    <div class="employee-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">員工管理</span>
        <a href="" id="sys_new" class="btn border border-dark ml-2" data-toggle="modal"
            data-target="#employee-modal">
            • 展開面板新增資料
        </a>
    </div>
    <div class="employee modal fade" id="employee-modal" tabindex="-1" aria-labelledby="employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-label">員工管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/employee" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="row my-4">
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="full_name_control">員工名稱</label>
                                                <input class="form-control form-control-sm" name="full_name"
                                                    id="full_name_control" required></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="employee_id_control">員工ID</label>
                                                <input class="form-control form-control-sm" name="employee_id"
                                                    id="employee_id_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="phone_number_control">手機號碼</label>
                                                <input class="form-control form-control-sm" name="phone_number"
                                                    id="phone_number_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="contact_number_control">聯絡電話</label>
                                                <input class="form-control form-control-sm" name="contact_number"
                                                    id="contact_number_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="start_date_control">到職日期</label>
                                                <input type="date" class="form-control form-control-sm"
                                                    name="start_date" id="start_date_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="seniority_control">目前年資</label>
                                                <input class="form-control form-control-sm" name="seniority"
                                                    id="seniority_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="id_number_control">身份證字號</label>
                                                <input class="form-control form-control-sm" name="id_number"
                                                    id="id_number_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="birthday_control">出生日期</label>
                                                <input type="date" class="form-control form-control-sm" name="birthday"
                                                    id="birthday_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="gender_control">性別</label>
                                                <select class="form-control form-control-sm" name="gender"
                                                    id="gender_control">
                                                    <option value="M">男</option>
                                                    <option value="F">女</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="blood_type_control">血型</label>
                                                <select class="form-control form-control-sm" name="blood_type"
                                                    id="blood_type_control">
                                                    <option value="A">A型</option>
                                                    <option value="B">B型</option>
                                                    <option value="AB">AB型</option>
                                                    <option value="O">O型</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="birth_place_control">出生地</label>
                                                <input class="form-control form-control-sm" name="birth_place"
                                                    id="birth_place_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="marital_status_control">婚姻狀況</label>
                                                <select class="form-control form-control-sm" name="marital_status"
                                                    id="marital_status_control">
                                                    <option value="M">已婚</option>
                                                    <option value="S">未婚</option>
                                                    <option value="D">離異</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="military_status_control">兵役狀況</label>
                                                <select class="form-control form-control-sm" name="military_status"
                                                    id="military_status_control">
                                                    <option value="M">義務役</option>
                                                    <option value="E">免服役</option>
                                                    <option value="A">替代役</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="permanent_address_control">戶籍地址</label>
                                                <input class="form-control form-control-sm" name="permanent_address"
                                                    id="permanent_address_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="current_address_city_control">現居地址縣市</label>
                                                <input class="form-control form-control-sm" name="current_address_city"
                                                    id="current_address_city_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="current_address_control">現居地址</label>
                                                <input class="form-control form-control-sm" name="current_address"
                                                    id="current_address_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="location_control">所在地</label>
                                                <input class="form-control form-control-sm" name="location"
                                                    id="location_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="company_email_control">公司E-Mail</label>
                                                <input class="form-control form-control-sm" name="company_email"
                                                    id="company_email_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="personal_email_control">個人E-Mail</label>
                                                <input class="form-control form-control-sm" name="personal_email"
                                                    id="personal_email_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="emergency_contact_control">緊急聯絡人1</label>
                                                <input class="form-control form-control-sm" name="emergency_contact"
                                                    id="emergency_contact_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="emergency_contact_relations_control">關係1</label>
                                                <input class="form-control form-control-sm"
                                                    name="emergency_contact_relations"
                                                    id="emergency_contact_relations_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="emergency_contact_phone_control">聯絡人電話1</label>
                                                <input class="form-control form-control-sm"
                                                    name="emergency_contact_phone"
                                                    id="emergency_contact_phone_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-table container shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table">
            <thead class="thead-light">
                <tr class="text-nowrap">
                    <th></th>
                    <th>員工編號</th>
                    <th>員工姓名</th>
                    <th>建立日期</th>
                </tr>
            </thead>
            <tbody>
                {% for p in employee %}
                {% if p.user.is_active %}
                <tr>
                    <td>
                        <a data-url="employee" data-id="{{ p.id }}" type="button" class="sys_get btn btn-warning m-2"
                            data-toggle="modal" data-target="#employee-modal"><i class="fas fa-edit"></i>
                        </a>
                        <a data-url="employee" data-id="{{ p.id }}" type="button" class="sys_del btn btn-danger m-2">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>{{ p.employee_id }} </td>
                    <td>{{ p.full_name }}</td>
                    <td>{{ p.created_date }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script src="{% static 'js/fuc/restful.js' %}"></script>


<script>
    // 更美化 file input
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

{% endblock %}