{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee/employee.css' %}">


{% endblock %}


{% block main %}

<div id="locationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">excel輸入的系統城市使用名字列舉</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <ul id="locationList">
                <li>台東</li>
                <li>花蓮</li>
                <li>宜蘭</li>
                <li>北北基</li>
                <li>桃園</li>
                <li>新竹</li>
                <li>苗栗</li>
                <li>台中</li>
                <li>南投</li>
                <li>彰化</li>
                <li>雲林</li>
                <li>嘉義</li>
                <li>台南</li>
                <li>高雄</li>
                <li>屏東</li>
                <li>台東</li>
                <li>花蓮</li>
              </ul>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  
  



<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fileUploadModalLabel">員工檔案上傳</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fileUploadForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fileNameInput">檔案名稱</label>
                            <input type="text" class="form-control" id="fileNameInput">
                        </div>
                        <div class="form-group col-md-6">

                            <label>選擇檔案</label>
                            <div class="custom-file">
                                <input type="file" class="form-control-file" id="fileInput">
                                <label class="custom-file-label" for="fileInput">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="fileUploadBtn" class="btn border border-dark rounded"
                        style="color: #fff;background: #1E3050;">上傳</button>
                </form>
                <hr>
                <h4>檔案列表</h4>
                <ul id="fileList" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>




<div class="main px-3" id="employee-app">
    <div id="error-message"></div>
    <div class="employee modal fade" id="employee-modal" tabindex="-1" aria-labelledby="employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-label">員工管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/employee" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden />
                            <div class="form-row my-2">
                                <div class="col-12 col-md-6">
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="full_name_control">員工名稱</label>
                                                <input class="form-control form-control-sm" name="full_name"
                                                    id="full_name_control" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="position">職稱</label>
                                                <input class="form-control form-control-sm" name="position"
                                                    id="position" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="departments">部門</label>
                                                {{ employee_form.departments }}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="employee_id">員工ID</label>
                                                <input class="form-control form-control-sm" name="employee_id"
                                                    id="employee_id" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="gender_control">性別</label>
                                                {{ employee_form.gender }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="start_date_control">到職日期</label>
                                                <input type="date" class="form-control form-control-sm" required
                                                    name="start_work_date" id="start_date_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="id_number">身份證字號</label>
                                                <input class="form-control form-control-sm" name="id_number"
                                                    id="id_number" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="blood_type_control">血型</label>
                                                {{ employee_form.blood_type }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="birthday_control">出生日期</label>
                                                <input type="date" class="form-control form-control-sm" name="birthday"
                                                    id="birthday_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="marital_status_control">婚姻狀況</label>
                                                {{ employee_form.marital_status }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="military_status_control">兵役狀況</label>
                                                {{ employee_form.military_status }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="phone_number_control">手機號碼</label>
                                                <input class="form-control form-control-sm" name="phone_number"
                                                    id="phone_number_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="contact_number_control">聯絡電話(報價單顯示)</label>
                                                <input class="form-control form-control-sm" name="contact_number"
                                                    id="contact_number_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="personal_email_control">個人E-Mail</label>
                                                <input class="form-control form-control-sm" name="personal_email"
                                                    id="personal_email_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="company_email_control">公司E-Mail(報價單顯示)</label>
                                                <input class="form-control form-control-sm" name="company_email"
                                                    id="company_email_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="location_city">居住城市(用於計算)</label>
                                                {{ employee_form.location_city }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="birth_place_control">出生地</label>
                                                <input class="form-control form-control-sm" name="birth_place"
                                                    id="birth_place_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="location_control">所在地</label>
                                                <input class="form-control form-control-sm" name="location"
                                                    id="location_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="permanent_address_control">戶籍地址</label>
                                                <input class="form-control form-control-sm" name="permanent_address"
                                                    id="permanent_address_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="current_address_city_control">現居地址縣市</label>
                                                <input class="form-control form-control-sm" name="current_address_city"
                                                    id="current_address_city_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="current_address_control">現居地址</label>
                                                <input class="form-control form-control-sm" name="current_address"
                                                    id="current_address_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="emergency_contact_control">緊急聯絡人1</label>
                                                <input class="form-control form-control-sm" name="emergency_contact"
                                                    id="emergency_contact_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="emergency_contact_relations_control">關係1</label>
                                                <input class="form-control form-control-sm"
                                                    name="emergency_contact_relations"
                                                    id="emergency_contact_relations_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="emergency_contact_phone_control">聯絡人電話1</label>
                                                <input class="form-control form-control-sm"
                                                    name="emergency_contact_phone"
                                                    id="emergency_contact_phone_control"></input>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>新員工預設員工ID為登入帳號，密碼為身分證</p>

    <div class="employee-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                
                {% if error_objs %}
                <p>錯誤清單：</p>
                <ul>
                  {% for error_obj in error_objs %}
                    <li>{{ error_obj.employee.full_name }} - {{ error_obj.error_message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
                <div class="employee-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal" data-target="#employee-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增員工
                    </a>
                    
                    <a class="upload-file font-weight-bold d-none d-md-inline-block" onclick="importfile()">
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i>
                        <span id="importLink">匯入</span>
                        <input type="file" id="fileInput_file" data-model="Employee" style="display: none;" />
                    </a>
                    <a href="/media/file_form_template/員工樣板.xlsx" class="font-weight-bold d-none d-md-inline-block"
                        download="">
                        <i class="fa-solid fa-download fa-sm" style="color: #000000;"></i> 下載公版
                    </a>
                    <button type="button"  data-toggle="modal" data-target="#locationModal">查看系統城市名稱</button>

                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('員工.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('員工.xlsx')">匯出已選資料</button>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">編輯</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="delete">刪除</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true"
                        data-field="employee_file_upload">員工檔案上傳</th>
                    <th data-field="employee_id" data-sortable="true">員工編號</th>
                    <th data-field="full_name" data-sortable="true">員工姓名</th>
                    <th data-field="departments" data-sortable="true">部門</th>
                    <th data-field="location_" data-sortable="true">出生地(系統計算)</th>
                    <th data-field="start_work_date" data-sortable="true">到職日</th>
                    <th data-field="position" data-sortable="true">職稱</th>
                    <th data-field="phone_number" data-sortable="true">手機號碼</th>
                    <th data-field="contact_number" data-sortable="true">聯絡電話</th>
                    <th data-field="reset" data-sortable="true">重設密碼</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for p in employee %}
                {% if p.user.is_active %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                            value="{{ p.id }}"></td>
                    <td>
                        <a type="button" data-url="employee" data-id="{{p.pk}}" class="btn btn-sm btn-warning"
                            data-toggle="modal" onclick="LoadData(event)"  data-target="#employee-modal"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        <a data-url="employee" data-id="{{p.pk}}" type="button" class="sys_del btn btn-sm btn-danger"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                    <td>
                        <a href="" onclick="setEmployeeId({{p.pk}})" data-toggle="modal"
                            data-target="#fileUploadModal">點擊</a>
                    </td>
                    <td>{{ p.employee_id }} </td>
                    <td>{{ p.full_name }}</td>
                    <td>{{ p.departments.department_name }}</td>
                    <td>
                        {% if p.location_city %}{{ p.location_city }}{% else %}<p style="color:red">異常!</p>{% endif %}
                    </td>
                    <td>{{ p.start_work_date |date:"Y/m/d" }}</td>
                    <td>{{ p.position }}</td>
                    <td>{% if p.phone_number %}{{ p.phone_number }}{% else %}{% endif %}</td>
                    <td>{% if p.contact_number %}{{ p.contact_number }}{% else %}{% endif %}</td>
                    <td>
                        <button id="showPasswordInput" onclick="resetpassword({{p.pk}})">重設密碼</button>
                    </td>

                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

    function resetpassword(id) {
        Swal.fire({
            title: '輸入密碼',
            input: 'text',
            inputAttributes: {
                autocomplete: 'off'
            },
            showCancelButton: true,
            confirmButtonText: '確認',
            showLoaderOnConfirm: true,
            preConfirm: (password) => {
                $.ajax({
                    url: '{% url "employee_password" %}',
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": csrftoken, // 在請求標頭中包含 CSRF token
                    },
                    data: {
                        id: id,
                        password: password
                    },
                    success: function (response) {
                        Swal.fire('成功', '成功修改', 'success');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status === 400) {
                            var errorMessage = xhr.responseJSON.error;
                            showSwal("操作失敗", errorMessage, "error", false);
                        } else if (xhr.status === 403) {
                            alert("無權操作，請聯絡管理員");
                        } else {
                            alert("系統發生錯誤" + xhr.responseJSON.error);
                            console.log(errorThrown);
                        }
                    }
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        });
    }

    async function LoadData(event) {
       getdata = await GET_handleClick(event, true); 
    }


    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/fileimport.js' %}",
            "{% static 'js/employee/UserFile.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
            // "{% static 'js/fuc/modaltopdf.js' %}"
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });


</script>
{% endblock %}