{% extends 'base/base_dashboard.html' %}

{% block title %}簽核管理{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% load custom_tags %}

{% block main %}
<style>
    .leave_application-header a {
        text-decoration: none;
        color: black;
    }

    .leave_application-table td {
        vertical-align: middle;
    }
    .bootstrap-table .fixed-table-container .table thead th {
        padding: 0 10px 6px 10px;
    }
    .filter-control input, .filter-control select{
        font-size: 12px;
        height: 1.5rem;
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        /* line-height: 1.5; */
        background: #f5f5f5;
        border-radius: 0.2rem;
    }
</style>


<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="approvalModalLabel">簽核處理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="approval_process_form">
                    <div class="form-group">
                        <label for="status">處理狀態</label>
                        <select class="form-control" id="status" name="status">
                            <option value="-1">選擇狀態</option>
                            <option value="approved">通過</option>
                            <option value="rejected">駁回</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="feedback">回饋</label>
                        <textarea placeholder="可簡單輸入ok、處理狀態、駁回原因等....." class="form-control" id="feedback"
                            name="feedback" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" id="approval_btn" class="btn btn-primary">提交</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<div class="modal fade px-3" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">簽核內容</h5>
                <h5 id="set_author"> 申請人:王王王</h5>

                

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                {% include 'approval_process\approval_model.html' %}
            </div>
        </div>
    </div>
</div>

<div class="main">

    <div class="project-confirmation-table container-fluid shadow-sm table-responsive">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-pagination="true" data-page-size="25" data-page-list="[25, All]" data-show-columns-toggle-all="true"
            data-filter-control="true">
            <div id="toolbar"></div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-sortable="true" data-filter-control="input"  data-field="type">類型</th>
                    <th data-sortable="true" data-filter-control="input" data-field="id">簽核單</th>
                    <th data-sortable="true" data-filter-control="input" data-field="status">狀態</th>
                    <th data-sortable="true"  data-filter-control="input" data-field="content">編號</th>
                    <th data-sortable="true" data-field="progress">簽核進度</th>
                    <th data-sortable="true" data-filter-control="input" data-field="author">申請人</th>
                    <th data-sortable="true"  data-field="watch">查看</th>
                </tr>
            </thead>
            <tbody class="" style="font-size: 14px;">
                {% for object in object_list %}
                <tr>
                    <td>{{ object.target_approval.get_name_display }}</td>
                    <td>{{ object.get_show_id }}</td>
                    <td>
                        {{ object.get_current_status_display }}
                    </td>
                    <td>
                        {{ object.get_foreignkey.get_show_id }}
                    </td>                  

                    <td>
                        {% for log in object.get_approval_log_list %}
                        {{ log.show_name }} -
                        {% if log.status == 'pass' %}
                        【{{log.content}}】

                        {% else %}
                        (wait)
                        {% endif %}
                        {% if not forloop.last %} >{% endif %}
                        {% empty %}
                        未執行簽核
                        {% endfor %}
                    </td>
                    <td>
                        {{ object.get_foreignkey.created_by.full_name }}
                    </td>
                    
                    <td>
                        <a href="" data-Approval_id="{{ object.id }}"  data-created_by="{{ object.get_foreignkey.created_by }}"
                        data-id="{{object.get_foreignkey.id}}"
                            data-url="{{object.model_url}}" data-toggle="modal" data-target="#myModal">
                            <i class="fa-solid fa-eye fa-lg"></i>
                        </a>
                    </td>


                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>

<script>

    
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/approval_process/approval_process.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/employee_assign/work_tests.js' %}",
            "{% static 'js/employee_assign/employee_assign.js' %}",
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/work-overtime-application/work-overtime-application.js' %}",

        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);

        });
    });



</script>
{% endblock %}