{% extends 'base/base_dashboard.html' %}

{% block title %}簽核管理{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% load custom_tags %}

{% block main %}

<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="approvalModalLabel">簽核處理</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="approval_process_form">
                    <div class="form-group">
                        <label for="status">處理狀態</label>
                        <select class="form-control" id="status" name="status">
                            <option value="-1">選擇狀態</option>
                            <option value="approved">通過</option>
                            <option value="rejected">駁回</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="feedback">回饋</label>
                        <textarea placeholder="可簡單輸入ok、處理狀態、駁回原因等....." class="form-control" id="feedback" name="feedback" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" id="approval_btn" class="btn btn-primary">提交</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<div class="modal fade px-3" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">簽核內容</h5>

                <h5 class="my-auto"><a href="" data-toggle="modal" data-target="#approvalModal">點擊簽核</a></h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" data-toggle="tab" href="#content1" role="tab" aria-controls="content1" aria-selected="true">工程確認單</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" data-toggle="tab" href="#content2" role="tab" aria-controls="content2" aria-selected="false">工程派任計畫</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3" data-toggle="tab" href="#content3" role="tab" aria-controls="content3" aria-selected="false">派工單</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="tab1">
                        工程確認單
                        {% include 'components\project_confirmation_form.html'  %}                     
                    </div>
                    <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="tab2">
                        工程派任計畫
                        {% include 'components\job_assign_form.html'  %}
                     
                    </div>
                    <div class="tab-pane fade" id="content3" role="tabpanel" aria-labelledby="tab3">
                        派工單
                        {% include 'components\emplooyee_assiag_form.html'  %}
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">

    <div class="project-confirmation-table container-fluid shadow-sm table-responsive">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-pagination="true" data-page-size="25" data-page-list="[25, All]" data-show-columns-toggle-all="true"
            data-filter-control="true">
            <div id="toolbar"></div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-sortable="true" data-field="type">類型</th>
                    <th data-sortable="true" data-field="status">狀態</th>
                    <th data-sortable="true" data-field="content">編號</th>
                    <th data-sortable="true" data-field="progress">簽核進度</th>
                    <th data-sortable="true" data-field="watch">查看</th>
                </tr>
            </thead>
            <tbody class="" style="font-size: 14px;">
                {% for object in object_list %}
                <tr>
                    <td>{{  object.target_approval.name }}</td>
                    <td>
                        {{ object.get_current_status_display }}
                    </td>
                    <td> 
                        {{ object.get_foreignkey.get_show_id }}
                    </td>
                    <td>
                        {% for log in object.get_approval_log_list %}
                        {{ log.show_name }} - 
                        {% if   log.status == 'pass' %}
                        【{{log.content}}】

                        {% else %}
                        (wait)
                        {% endif %}
                            {% if not forloop.last %} >{% endif %}
                        {% empty %}
                        未執行簽核
                        {% endfor %}
                    </td>
                    
                        <td>
                            <a href="" data-Approval_id="{{ object.id }}"   data-id="{{object.get_foreignkey.id}}"   data-url="{{object.model_url}}"  data-toggle="modal" data-target="#myModal">
                                <i class="fa-solid fa-eye fa-lg"></i>
                            </a>
                        </td>
                   
                        
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
    </div>
 
</div>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/approval_process/approval_process.js' %}",
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",

        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

    $(document).ready(function () {
        $('#myTabs').hide();
        
        
        $('#myModal').on('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var modalModel = button.getAttribute('data-url');        
            Approval_id = button.getAttribute('data-Approval_id');           
            var form = document.querySelector('form[name="'+ modalModel+'"]');
            
            GET_handleClick(button,false).then((data) => {
                for (var key in data) {
                    var input = form.querySelector('[name="' + key + '"]');

                    if (input) {
                        let get_value = jsonData[key];
                        input.disabled = true;  // 禁用
                        input.setAttribute("readonly", "true"); //封印修改
                        
                        if (input.type == 'file') { 
                            continue
                        }
                        
                        

                        if (typeof (jsonData[key]) == "object" && get_value != null) {//判斷是不是陣列
                            SetSelect2(input, key, get_value);
                            continue
                        }

                        input.value = get_value;
                        // console.log("key " + key + " 帶資料:" + get_value);

                    } else {
                        // console.log("Input not found for key:", key);
                    }
                }
            });


        
            if (modalModel === 'project_confirmation') {
                console.log("1")
                $('#tab1').tab('show');
            } else if (modalModel  === 'job_assign') {
                console.log("122")
                $('#tab2').tab('show');
            } else if (modalModel  === 'project_employee_assign') {
                console.log("333")
                $('#tab3').tab('show');
            }
        });
    });
</script>
{% endblock %}