{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee/employee.css' %}">


{% endblock %}


{% block main %}
<div class="main" id="employee-app">
    <div id="error-message"></div>
    <div class="employee-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">權限管理</span>
        <a href="" id="sys_new" class="btn border border-dark ml-2" data-toggle="modal" data-target="#employee-modal">
            • 展開面板新增資料
        </a>
    </div>
    <div class="employee modal fade" id="employee-modal" tabindex="-1" aria-labelledby="employee" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-label">權限群組管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/group" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="row my-4">
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="completion_report_employee_control">員工增減</label>
                                                <select class="chosen-select" data-placeholder="選擇員工"
                                                    name="user_set"
                                                    id="completion_report_employee_control" multiple>
                                                    {% for employees in employees_list %}
                                                    <option value="{{ employees.user__id }}">{{ employees.user__username }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-table container shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table">
            <thead class="thead-light">
                <tr class="text-nowrap">
                    <th></th>
                    <th>群組名稱</th>
                    <th>建立日期</th>
                </tr>
            </thead>
            <tbody>
                {% for g in groups %}
                <tr>
                    <td>
                        <a data-url="group" data-id="{{ g.id }}" type="button" class="sys_get btn btn-warning m-2"
                            data-toggle="modal" data-target="#employee-modal"><i class="fas fa-edit"></i>
                        </a>
                      
                    </td>
                    <td>{{ g.name }} </td>
                    <td>{{ g.user_set.all }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script src="{% static 'js/fuc/restful.js' %}"></script>


<script>
    // 更美化 file input
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    
</script>

{% endblock %}