{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee_permission/employee_permission.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3" id="employee-permission-app">
    <div id="error-message"></div>
    <div class="employee-permission modal fade" id="employee-permission-modal" tabindex="-1" aria-labelledby="employee-permission" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-permission-label">群組管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/group" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="group_control">群組名稱</label>
                                                <input class="form-control form-control-sm" name="group_name"  id="group_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>選擇人員(按住ctrl多選)</label>
                                                <select class="form-control" name="user_set" id="user_set_select2" size="10" multiple>
                                                    {% for employee in employees %}
                                                    <option value="{{ employee.user_id }}">{{ employee.full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>已選權限</label>
                                                <select class="form-control "  id="permission-selected" size="10" readonly>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-permission-table container">
        <div class="col-12 col-md-10 mx-auto shadow-sm table-responsive-lg">
            <table class="table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr class="text-nowrap">
                        <th></th>
                        <th>群組名稱</th>
                    </tr>
                </thead>
                <tbody>
                    {% for g in groups %}
                    <tr>
                        <td>
                            <a type="button" data-url="group" data-id="{{ g.id }}"
                                class="sys_get btn btn-sm btn-warning my-2 mx-md-2" data-toggle="modal"
                                data-target="#employee-permission-modal"><i class="fas fa-edit"></i></a>
                          
                        </td>
                        <td data-toggle="collapse" data-target="#sub-row-{{ g.id }}">
                            {{ g.name }}
                        </td>
                    </tr>
                    <tr class="collapse" id="sub-row-{{ g.id }}">
                        <td></td>
                        <td>
                            {% for employees_list in g.user_set.all %}
                            • {{ employees_list.employee.full_name }}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<!-- 印出被選中的內容 (option是selected的)-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
      $("#user_set_select2").on("change", function() {
        var selectedOptions = [];
        $("#user_set_select2 option:selected").each(function() {
          selectedOptions.push($(this).text());
        });
    
        console.log("選中的option內容：", selectedOptions);

        var permissionSelected = document.getElementById("permission-selected");
        permissionSelected.innerHTML = ""; 
        selectedOptions.forEach(function(optionText) {
            var option = document.createElement("option");
            option.text = optionText;
            permissionSelected.add(option);
        });
      });
    });
    </script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var script = document.createElement('script');
        script.src = "{% static 'js/fuc/restful.js' %}";
        document.body.appendChild(script);
    });

</script>


{% endblock %}