{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee_permission/employee_permission.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3" id="employee-permission-app">
    <div id="error-message"></div>
    <div class="employee-permission modal fade" id="employee-permission-modal" tabindex="-1" aria-labelledby="employee-permission" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-permission-label">權限群組管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/group" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="group_control">權限群組名稱</label>
                                                <input readonly class="form-control form-control-sm" name="group_name"  id="group_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>選擇權限(按住ctrl多選)</label>
                                                <select class="form-control " name="user_set" id="user_set_select2" size="6" multiple v-model="selectedOptions" @change="handleSelectionChange">
                                                    {% for employee in employees %}
                                                    <option value="{{ employees.user__id }}">{{ employee.full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>已選權限</label>
                                                <select class="form-control "  id="permission-selected" size="6" readonly>
                                                    <option  v-for="option in selectedOptionsText" value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-permission-table  container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table"  data-toggle="table" data-sortable="true" data-show-export="true"
        data-toolbar="#toolbar"  data-pagination="true" data-height="520" data-sticky-header="true" data-search="true" data-show-columns="true"
        data-filter-strict-search="true" data-show-columns-toggle-all="true" data-show-fullscreen="true" data-export-types="['excel', 'json', 'csv', 'txt']"data-export-options='{"fileName": "派工單"}'>
            <div id="toolbar">
                <div class="employee-permission-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal"data-target="#employee-permission-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增權限群組
                    </a>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th></th>
                    <th data-field="group" data-sortable="true"   >群組名稱</th>
                    <th data-field="created_date" data-sortable="true">建立日期</th>
                </tr>
            </thead>
            <tbody style="font-size: 14px;">
                {% for g in groups %}
                <tr>
                    <td>
                        <a type="button" data-url="group" data-id="{{ g.id }}"
                            class="sys_get btn btn-sm btn-warning my-2 mx-md-2" data-toggle="modal"
                            data-target="#employee-permission-modal"><i class="fas fa-edit"></i></a>
                        <a data-url="group" data-id="{{ g.id }}" type="button"
                            class="sys_del btn btn-sm btn-danger my-2 mx-md-2"><i class="far fa-trash-alt"></i></a>
                      
                    </td>
                    <td>{{ g.name }} </td>
                    <td>
                        {% for employees_list in g.user_set.all %}
                        {{ employees_list.id }}
                    {% endfor %}    
                        {{ g.user_set.all }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                selectedOptions: [], // 將被選中的選項存儲在此數組中
                selectedOptionsText: [], // 存儲被選中的選項的文字標籤
            };
        },
        delimiters :['[[', ']]'],
        methdod: {
            handleSelectionChange() {
                console.log("選擇的值:", this.selectedOptions);
                // 在被選中的選項改變時更新 selectedOptionsText
                // this.selectedOptionsText = newSelectedOptions.map(option => {
                //     const optionElement = document.querySelector(`#user_set_select2 option[value="${option}"]`);
                //     return optionElement.textContent;
                // });
            }
        }
    });

    app.mount('#employee-permission-app');
  </script>



<script>
    // 更美化 file input
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    // Bootstrap-Table
    $(document).ready(function () {
        $('#table').bootstrapTable({
            height: $(window).height()*0.85,
            toolbar: "#toolbar"
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var script = document.createElement('script');
        script.src = "{% static 'js/fuc/restful.js' %}";
        document.body.appendChild(script);
    });

</script>


{% endblock %}