{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee/employee.css' %}">
<style>
    .bootstrap-table .fixed-table-container .table thead th {
        padding: 0 10px 6px 10px;
    }

    .filter-control input,
    .filter-control select {
        font-size: 12px;
        height: 1.5rem;
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        /* line-height: 1.5; */
        background: #f5f5f5;
        border-radius: 0.2rem;
    }
</style>

{% endblock %}


{% block main %}

<!-- 內部記錄檔案上傳 -->
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fileUploadModalLabel">內部紀錄檔上傳</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fileUploadForm" class="fileForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fileNameInput">檔案名稱</label>
                            <input type="text" class="form-control" id="fileNameInput">
                        </div>
                        <div class="form-group col-md-6">
                            <!-- <label for="fileInput">選擇檔案</label>
                            <input type="file" class="form-control-file" id="fileInput"> -->
                            <label>選擇檔案</label>
                            <div class="custom-file">
                                <input type="file" class="form-control-file" id="fileInput">
                                <label class="custom-file-label" for="fileInput">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="fileUploadBtn" class="btn border border-dark rounded fileUploadBtn"
                        style="color: #fff;background: #1E3050;">上傳</button>
                </form>
                <hr>
                <h4>檔案列表</h4>
                <ul id="fileList" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>


<!-- 最終報價單附件上傳 -->
<div class="modal fade" id="LastExcelFileUploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fileUploadModalLabel">最終報價單附件上傳</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="lastExcelFileUploadForm" class="fileForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="lastExcelFileNameInput">檔案名稱</label>
                            <input type="text" class="form-control" id="lastExcelFileNameInput">
                        </div>
                        <div class="form-group col-md-6">
                            <label>選擇檔案</label>
                            <div class="custom-file">
                                <input type="file" class="form-control-file" id="lastExcelFileInput">
                                <label class="custom-file-label" for="lastExcelFileInput">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="" class="btn border border-dark rounded "
                        style="color: #fff;background: #1E3050;">上傳</button>
                </form>
                <hr>
                <h4>檔案列表</h4>
                <ul id="lastExcelFileList" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>



<!-- 工項選擇 -->
<div class="modal fade"  style="z-index: 2000;" id="work_listid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">選擇工項</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-sm table-hover text-center" id="list_id" data-toggle="table"
                data-sortable="true" data-search="true" data-filter-strict-search="true"
                data-filter-control="true">
                <thead>
                    <tr>
                        <th data-filter-control="input" data-field="list_id">工項編號</th>
                        <th data-filter-control="input" data-field="list_contract_id">合約編號</th>
                        <th data-filter-control="input" data-field="list_item_name">工項名稱(試驗項目)</th>
                        <th data-filter-control="input" data-field="list_unit">單位</th>
                        <th data-filter-control="input" data-field="list_year_money">年度單價</th>
                        <th>選擇</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workitem in workitems %}
                    <tr>
                        <td> {{ workitem.item_id }}</td>
                        <td> {{ workitem.contract_id }}</td>
                        <td> {{ workitem.item_name }}</td>
                        <td> {{ workitem.unit }}</td>
                        <td> {{ workitem.money }}</td>
                        <td><button class="select-btn"
                                onclick="set_work_select_id('{{workitem.id}}')">選擇</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- template -->
<div class="form-row" id="work_item_form_row" hidden>
    <input id="" name="Work_Item_Number_id" value="-1" hidden />
    <div class="col-8">
        <div class="form-group">
            <label>工項選擇</label> <a data-toggle="modal" href="#" class="work_list_set_id"
                data-target="#work_listid">打開選單</a>
            <select class="form-control form-control-sm" name="work_item_id" id="">
                {% for workitem in workitems %}
                <option value="{{ workitem.id }}"> {{ workitem.get_display_text }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label>數量</label>
            <input type="number" class="form-control form-control-sm" name="work_item_number" value="1">
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <input type="button" class="btn btn-danger mt-4" value="刪除" onclick="deleteWorkItemRow(this)" />
        </div>
    </div>
</div>


<div class="main px-3">
    <div id="error-message"></div>
    <div class="employee modal fade" id="employee-modal" aria-labelledby="employee" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-label">報價單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/quotation" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="form-row my-2">
                                <div class="col-12" id="quotation_input">
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="quotation_id">報價單編號</label>
                                                <input class="form-control form-control-sm" name="quotation_id"
                                                    id="quotation_id">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="client">客戶名稱</label>
                                                <select class="form-control form-control-sm" name="client" id="client"
                                                    required>
                                                    <option value="">選擇客戶名稱</option>
                                                    {% for client in clients %}
                                                    <option value="{{ client.id }}">{{ client.client_name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="client">業主名稱(報價客戶)</label>
                                                <select class="form-control form-control-sm" name="requisition"
                                                    id="requisition" required>
                                                    <option value="">選擇業主名稱(報價客戶)</option>
                                                    {% for client in clients %}
                                                    <option value="{{ client.id }}">{{ client.client_name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="project_name">專案名稱</label>
                                                <input required class="form-control form-control-sm" name="project_name"
                                                    id="project_name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="quote_validity_period">報價單有效期</label>
                                                <input type="number" class="form-control form-control-sm"
                                                    name="quote_validity_period" value="14" id="quote_validity_period">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="quote_date">報價日期</label>
                                                <input class="form-control form-control-sm" name="quote_date"
                                                    id="quote_date" type="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="business_assistant_user">業務助理</label>
                                                <select name="business_assistant_user" id="business_assistant"
                                                    class="select2">
                                                    <option value="-1">選擇助理</option>
                                                    {% for employee in employees_sorted %}
                                                    <option value="{{ employee.id }}">{{ employee.full_name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-8">
                                            <div class="form-group">
                                                <label for="internal_content">對內紀錄</label>
                                                <textarea class="form-control form-control-sm" name="internal_content"
                                                    id="internal_content">
                                                </textarea>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label>最終報價單附件</label>
                                            <a href="#" id="last_excel">下載附件</a>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" data-modal="Quotation" name="last_excel"
                                                    id="reassignment_attachment_control">
                                                <label class="custom-file-label" for="last_excel">上傳最終版本</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label>付款方式</label>
                                            <select class="form-control form-control-sm" name="pay_method">
                                                <option value="1">(1)付款方式:完工請款100%.初次交易,請配合開立即期票或匯款。</option>
                                                <option value="2">(2)付款方式:完工請款100%.發票開立後期票30天。</option>
                                                <option value="3">(3)付款方式:與業主額外議定(此部分開放自行填寫,利配合部分廠商付款特殊要求)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="remark">備註</label>
                                                <textarea class="form-control form-control-sm" name="remark" id="remark_control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <br>
                                            <input type="button" value="增加工項" onclick="add_work_item()"
                                                id="insert_work_item_row">

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="employee-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                <div class="employee-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal" data-target="#employee-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增報價單
                    </a>
                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('報價單.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('報價單.xlsx')">匯出已選資料</button>
                    <div class="form-check form-check-inline">
                        <label for="for" class="form-check-label">對內</label>
                        <input type="checkbox" name="" class="form-check-input" id="for" checked>
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="idfive" class="form-check-label">使用維景樣板</label>
                        <input type="checkbox" name="" class="form-check-input" id="five">
                    </div>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">編輯</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="delete">刪除</th>
                    <th data-field="internal_content_file" data-sortable="false">內部記錄檔案</th>
                    <th data-field="last_excel_file" data-sortable="false">最終報價單附件</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="process">
                        輸出</th>
                    <th data-field="quotation_id" data-sortable="true">報價單編號</th>
                    <th data-field="project_name" data-sortable="true">專案名稱</th>
                    <th data-field="client" data-sortable="true">客戶名稱</th>
                    <th data-field="requisition" data-sortable="true">業主名稱(報價客戶)</th>
                    <th data-field="business_assistant" data-sortable="true">助理</th>
                    <th data-field="quote_validity_period" data-sortable="true">報價單有效期</th>
                    <th data-field="created_date" data-sortable="true">建立日期</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for item in quotation %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                            value="{{ item.id }}"></td>
                    <td>
                        <a data-target="#employee-modal" type="button" data-url="quotation" data-id="{{ item.id }}"
                            class=" btn btn-sm btn-warning" data-toggle="modal"
                            data-target="#project-confirmation-modal" onclick="LoadData(event)">
                            <i class="fas fa-sm fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a data-url="quotation" data-target="#employee-modal" data-id="{{ item.id }}" type="button"
                            class="sys_del btn btn-sm btn-danger" onclick="DELETE_handleClick(event)">
                            <i class="far fa-sm fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>
                        <a href="" onclick="setQuotationId({{item.pk}}, 'file' )" data-toggle="modal"
                            data-target="#fileUploadModal">點擊</a>
                    </td>
                    
                    <td><a href="#" onclick="openNewWindow({{item.pk}})">點擊</a></td>

                    <td>
                        {{ item.quotation_id}}
                    </td>
                    <td>
                        {{ item.project_name}}
                    </td>
                    <td>
                        {% if item.client.client_name %}{{ item.client.client_name }}{% else %}{% endif %}
                    </td>
                    <td>
                        {% if item.requisition.client_name %}{{ item.requisition.client_name }}{% else %}{% endif %}
                    </td>
                    <td>
                        {% if tem.business_assistant_user %}{{ item.business_assistant_user }}{% else %}{% endif %}
                    </td>
                    <td>
                        {% if item.quote_validity_period %}{{ item.quote_validity_period }}{% else %}{% endif %}
                    </td>
                    <td>
                        {{ item.created_date}}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<script>


    function openNewWindow(id) {
        var forCheckbox = document.getElementById('for');
        var fiveCheckbox = document.getElementById('five');

        var forChecked = forCheckbox.checked ? 1 : 0;
        var fiveChecked = fiveCheckbox.checked ? 1 : 0;

        var url = `/restful/quotationfile/${id}/${forChecked}/${fiveChecked}`;
        window.open(url, '_blank');
    }

    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/quotation/QuotationFile.js' %}",
            "{% static 'js/quotation/work_item_select2.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });

    });


    async function LoadData(event) {
        console.log("load")
        clonedIndex = 0;
        getdata = await GET_handleClick(event);
        var choose_input = document.getElementById("business_assistant");
        const change_event = new Event("change");
        choose_input.dispatchEvent(change_event);

        $(".new_row").each(function () {
            $(this).remove();
        });

        var work_item_list = getdata["work_item"];

        for (let i = 0; i < work_item_list.length; i++) {
            clonedIndex += 1;
            new_cloneRow = clonedRow.clone();
            new_cloneRow.find('a').attr('id', 'work_class_' + clonedIndex);
            new_cloneRow.find('select').attr('id', 'work_select_' + clonedIndex);
            new_cloneRow.find("select").val(work_item_list[i].work_item_id);
            new_cloneRow.find("input[name='Work_Item_Number_id']").val(work_item_list[i].id);
            new_cloneRow.find("input[name='work_item_number']").val(work_item_list[i].number);
            new_cloneRow.find("select").select2({
                width: '100%',
            });
            $("#quotation_input").append(new_cloneRow);
        }
    }



</script>
{% endblock %}