{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee/employee.css' %}">


{% endblock %}


{% block main %}

<div class="main px-3">
    <div id="error-message"></div>
    <div class="employee modal fade" id="employee-modal" tabindex="-1" aria-labelledby="employee" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-label">報價單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/quotation" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="form-row my-2">
                                <div class="col-12">
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="quotation_id">報價單編號</label>
                                                <input class="form-control form-control-sm" name="quotation_id" id="quotation_id">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="client">客戶名稱</label>
                                                <select class="form-control form-control-sm" name="client" id="client" readonly>
                                                    <option value="{{ client.id }}" selected>{{ client.client_name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="tax_id">統一編號</label>
                                                <input class="form-control form-control-sm" name="tax_id" id="tax_id">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="project_name">專案名稱</label>
                                                <input required class="form-control form-control-sm" name="project_name" id="project_name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="quote_validity_period">報價單有效期</label>
                                                <input type="number" class="form-control form-control-sm"
                                                    name="quote_validity_period" id="quote_validity_period">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="address">地址</label>
                                                <input class="form-control form-control-sm" name="address" id="address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="contact_person">聯絡人</label>
                                                <input class="form-control form-control-sm" name="contact_person"
                                                    id="contact_person">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="tel">電話</label>
                                                <input class="form-control form-control-sm" name="tel" id="tel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="mobile">手機</label>
                                                <input class="form-control form-control-sm" name="mobile" id="mobile">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="email">電子郵件</label>
                                                <input class="form-control form-control-sm" name="email" id="email">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="fax">傳真</label>
                                                <input class="form-control form-control-sm" name="fax" id="fax">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <label>報價單(對方提供)   <a href="#" id="invoice_attachment" >下載附件</a></label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" data-modal="Quotation" name="invoice_attachment"
                                                    id="invoice_attachment">
                                                <label class="custom-file-label" for="invoice_attachment">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">

                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="business_assistant">業務助理</label>
                                                <input class="form-control form-control-sm" name="business_assistant"
                                                    id="business_assistant">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="business_tel">業務電話</label>
                                                <input class="form-control form-control-sm" name="business_tel"
                                                    id="business_tel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="internal_content">對內紀錄</label>
                                                <textarea class="form-control form-control-sm" name="internal_content"
                                                    id="internal_content">
                                                </textarea>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="business_assistant">工項選擇</label>
                                            <select class="select2" name="work_item" id="work_item_select2" multiple>
                                                {% for workitem in workitems %}
                                                <option value="{{ workitem.id }}"> {{ workitem.get_display_text }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                <div class="employee-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal" data-target="#employee-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增報價單
                    </a>
                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('員工.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('員工.xlsx')">匯出已選資料</button>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">編輯</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="delete">刪除</th>
                    <th data-field="quotation_id" data-sortable="true">報價單編號</th>
                    <th data-field="project_name" data-sortable="true">專案名稱</th>
                    <th data-field="tax_id" data-sortable="true">客戶名稱</th>
                    <th data-field="quote_validity_period" data-sortable="true">報價單有效期</th>
                    <th data-field="created_date" data-sortable="true">建立日期</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for item in quotation %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"value="{{ item.id }}"></td>
                    <td>
                        <a data-target="#employee-modal" type="button" data-url="quotation" data-id="{{ item.id }}"
                            class="sys_get btn btn-sm btn-warning" data-toggle="modal"
                            data-target="#project-confirmation-modal" onclick="LoadData(event)">
                            <i class="fas fa-sm fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a data-url="quotation" data-target="#employee-modal" data-id="{{ item.id }}" type="button"
                            class="sys_del btn btn-sm btn-danger" onclick="DELETE_handleClick(event)">
                            <i class="far fa-sm fa-trash-alt"></i>
                        </a>
                    </td>

                    <td>
                        {{ item.quotation_id}}
                    </td>
                    <td>
                        {{ item.project_name}}
                    </td>
                    <td>
                        {{ item.client.client_name}}
                    </td>
                    <td>
                        {{ item.quote_validity_period}}
                    </td>
                    <td>
                        {{ item.created_date}}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

    async function LoadData(event){
        console.log("load")
        getdata = await GET_handleClick(event);

    }



</script>
{% endblock %}