{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/approval_group/approval_group.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3">
    <div id="error-message"></div>
    <div class="approval_group modal fade" id="approval_group-modal" tabindex="-1" aria-labelledby="approval_group"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approval_group-label">簽核權管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/approval_group" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden />
                            <div class="col-12">
                                <div class="form-group form-row">
                                    <h5 id="name"></h5>
                                    <!-- <label for="name">群組名稱</label>
                                    <input class="form-control form-control-sm" name="name" id="name"
                                        disabled></input> -->
                                </div>
                                <div class="form-group form-row">
                                    <label for="new_stage">新增關卡</label>
                                    <select class="form-control form-control-sm" name="new_stage" id="new_stage">
                                        <option value="">請選擇員工</option>
                                        {% for employee in employees %}
                                        <option value="{{ employee.id }}">{{ employee.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group form-row">
                                    <button id="submitEmployeeBtn" type="button" class="btn border border-dark rounded w-100"
                                        style="color: #fff;background: #1E3050;">送出</button>
                                </div>

                                <div class="form-group form-check form-row">
                                    <input type="checkbox" name="is_director" class="form-check-input" id="is_director">
                                    <label class="form-check-label" for="is_director">是否經過直屬主管簽核</label>
                                </div>
                                <div class="mt-4" id="approval_stage"></div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="approval_group_table container">
        <div class="col-12 col-md-10 mx-auto shadow-sm table-responsive-lg">
            <table class="table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr class="text-nowrap">
                        <th></th>
                        <th>簽核群組名稱</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in approval_group %}
                    <tr>
                        <td>
                            <a onclick="sendApprovalGroup('{{a.id}}')" type="button" data-url="approval_group" data-id="{{ a.id }}"
                                class="btn btn-sm btn-warning " data-toggle="modal"
                                data-target="#approval_group-modal"><i class="fas fa-edit"></i></a>

                        </td>
                        <td data-toggle="collapse" data-target="#sub-row-{{ a.id }}">
                            {{ a.get_name_display }}
                        </td>
                    </tr>
                    <tr class="collapse" id="sub-row-{{ a.id }}" style="background:#f1f1f1;">
                        <td></td>
                        <td>
                            <span class="text-muted">目前無員工</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    var is_director_checkbox = document.getElementById("is_director")
    is_director_checkbox.addEventListener("change",function(){
        $.ajax({
            type: "POST",
            url: "/restful/approval_group",
            data: {
                set_id:set_id,
                is_checked: is_director_checkbox.checked,
            },
            headers: {
                "X-CSRFToken": csrftoken,
            },
            success: function (response) {
                
            },
            error: function (error) {
                alert("錯誤", error);
            }
        });
    })
    function createApprovalStageElement(jsonData){
        // 先清除子元素
        var stageDiv = document.getElementById("approval_stage");
        while(stageDiv.hasChildNodes()){
            stageDiv.removeChild(stageDiv.firstChild);
        }

        var stageArray = jsonData
        console.log(stageArray)
        for (let i = 0; i < stageArray.length; i++) {
            var newDiv = document.createElement("div");
            newDiv.className = "form-group form-row d-flex justify-content-between align-items-center";

            var label = document.createElement("label");
            label.setAttribute("for", "stage-" + i);
            label.textContent = "第 " + (i+1) + " 關";

            var a = document.createElement("a")
            a.setAttribute("type", "button")
            // a.setAttribute("onclick", "deleteApprovalStage()")
            a.className = "sys_del btn btn-sm btn-danger";
            var icon = document.createElement("i");
            icon.className = "far fa-sm fa-trash-alt";
            a.appendChild(icon);
            a.click(function () {
                $.ajax({
                    type: "DELETE",
                    url: "/restful/approval_group",
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    // data:{}
                    success: function (response) {
                        alert("刪除成功!");
                        // sendApprovalGroup();
                    },
                    error: function (error) {
                        alert("刪除失敗!");
                        console.log("Error:", error);
                    },
                });
            });

            var span = document.createElement("span");
            span.textContent = stageArray[i].name;

            newDiv.appendChild(label);
            newDiv.appendChild(span);
            newDiv.appendChild(a);
            stageDiv.appendChild(newDiv);
        }
    }
    

</script>
<script>
    var set_id = ""
    function sendApprovalGroup(id) {
        set_id = id;
        $.ajax({
            type: "GET",
            url: "/restful/approval_group",
            data: {
                id: id
            },
            success: function (response) {
                jsonData = response.data;
                for (var key in jsonData) {
                    console.log("key " + key)
                    if(key == "name"){
                        var h5 = document.getElementById(key);
                        if (h5) {
                            h5.textContent = jsonData[key];
                        }
                    }
                    if(key == "approval_order"){
                        createApprovalStageElement(jsonData[key]);
                    }
                    if(key == "is_director"){
                        var is_director = document.getElementById(key);
                        if(jsonData[key]){
                            console.log("is_director.checked = true;")
                            is_director.checked = true;
                        }else{
                            console.log("is_director.checked = false;")
                            is_director.checked = false;
                        }
                    }

                }
            },
            error: function (error) {
                console.error("錯誤", error);
            }
        });
    }
    document.getElementById("submitEmployeeBtn").onclick = submitEmployee;
    function submitEmployee(){
        const new_stage_select = document.getElementById("new_stage");
        const new_stage_id = new_stage_select.value;
        $.ajax({
            type: 'POST',
            url: '/restful/approval_group',
            data: {
                new_stage_id: new_stage_id,
                set_id: set_id
            },
            headers: {
                "X-CSRFToken": csrftoken,
            },
            success: function(response) {
                console.log(response);
                sendApprovalGroup(set_id)
            },
            error: function(error) {
                console.log(error);
                // 員工已被選過錯誤處理
            }
        })
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

</script>


{% endblock %}