{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/approval_group/approval_group.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3">
    <div id="error-message"></div>
    <strong>只要更改資料如：勾選、取消直屬簽核、刪除、新增員工都會讓該簽核進行中、駁回的項目取消，但不會影響到已完成的簽核項目</strong>
    <div class="approval_group modal fade" id="approval_group-modal" tabindex="-1" aria-labelledby="approval_group"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approval_group-label">簽核權管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/approval_group" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden />
                            <div class="col-12">
                                <div class="form-group form-row">
                                    <h5 id="name"></h5>
                                    <!-- <label for="name">群組名稱</label>
                                    <input class="form-control form-control-sm" name="name" id="name"
                                        disabled></input> -->
                                </div>
                                <div class="form-group form-row">
                                    <label for="new_stage">新增關卡</label>
                                    <select class="form-control form-control-sm" name="new_stage" id="new_stage">
                                        <option value="">請選擇員工</option>
                                        <option value="x">主管簽核</option>
                                        {% for employee in employees %}
                                        <option value="{{ employee.id }}">{{ employee.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group form-row">
                                    <button id="submitEmployeeBtn" type="button" class="btn border border-dark rounded w-100"
                                        style="color: #fff;background: #1E3050;">送出</button>
                                </div>

                                <div class="form-group form-check form-row">
                                    <input type="checkbox" name="is_director" class="form-check-input" id="is_director">
                                    <label class="form-check-label" for="is_director">是否經過直屬主管簽核</label>
                                </div>
                                <div class="mt-4" id="approval_stage"></div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="approval_group_table container">
        <div class="col-12 col-md-10 mx-auto shadow-sm table-responsive-lg">
            <table class="table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr class="text-nowrap">
                        <th></th>
                        <th>簽核群組名稱</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in approval_group %}
                    <tr>
                        <td>
                            <a onclick="sendApprovalGroup('{{a.id}}')" type="button" data-url="approval_group" data-id="{{ a.id }}"
                                class="btn btn-sm btn-warning " data-toggle="modal"
                             ><i class="fas fa-edit"></i></a>

                        </td>
                        <td data-toggle="collapse" data-target="#sub-row-{{ a.id }}">
                            {{ a.get_name_display }}
                        </td>
                    </tr>
                    <tr class="collapse" id="sub-row-{{ a.id }}" style="background:#f1f1f1;">
                        <td></td>
                        <td>
                            <span class="text-muted"> 
                                {% for employee in a.employeeid_to_employee %}
                                    {{ employee }}{% if not forloop.last %}、{% endif %}
                                {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/approval_group/approval_group.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

</script>


{% endblock %}