{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee_assign/employee_assign.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.3.4/signature_pad.js"
    integrity="sha512-j36pYCzm3upwGd6JGq6xpdthtxcUtSf5yQJSsgnqjAsXtFT84WH8NQy9vqkv4qTV9hK782TwuHUTSwo2hRF+/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% load custom_tags %}

{% block main %}

<div class="modal fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="signatureModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signatureModalLabel">電子簽名</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <canvas id="mycanvas" width="750" height="400"></canvas>
                <div id="image"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="clear">清除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="convertToImage">保存簽名</button>
            </div>
        </div>
    </div>
</div>

<style>
    #signatureModal .modal-dialog {
        max-width: 800px;
        /* 更改为您希望的宽度 */
    }

    #mycanvas {
        width: 100%;
        /* 使用百分比来占据父容器的宽度 */
        max-width: 100%;
        /* 防止 canvas 溢出 */
        height: auto;
        /* 根据比例自适应高度 */
    }

    canvas {
        background: #eee;
    }

    #image {
        img {
            display: block;
            width: 100%;
            height: 200px;
        }
    }
</style>


<div class="main px-3">
    <div id="error-message"></div>

    <div class="employee-assign modal fade" id="employee-assign-modal" tabindex="-1" aria-labelledby="employee-assign"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-assign-label">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" data-target="#none_equipment_tab">派工單</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" data-target="#equipment_tab">攜帶儀器</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" data-target="#test_items_tab">檢測項目</a>
                            </li>
                        </ul>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/project_employee_assign" id="form" name="project_employee_assign"
                            method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="none_equipment_tab">
                                    <input name="id" hidden />
                                    <input name="test_items_str" id="test_items_str"  hidden />
                                    <select multiple id="carry_equipments_select2" style="display: none;"
                                        name="carry_equipments">
                                        {% for e in all_Equipment %}
                                        <option value="{{ e.id }}">{{e.id}}</option>
                                        {% endfor %}
                                    </select>

                                    <div class="form-row my-2">
                                        <div class="col-12 col-md-6">
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="project_confirmation_control">工程派任計畫</label>
                                                        <select class="form-control form-control-sm"
                                                            name="project_job_assign" id="project_job_assign_id">
                                                            <option value="-1">請選擇工作派任計畫</option>
                                                            {% for job_assign in all_project_job_assign %}
                                                            <option value="{{ job_assign.id }}">
                                                                {{job_assign.get_show_id }}-{{job_assign.project_confirmation.quotation.project_name }}-{{job_assign.project_confirmation.quotation.client }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="show_id">派工單編號(系統產生)</label>
                                                        <input class="readonly form-control form-control-sm"
                                                            name="show_id" id="show_id" readonly></input>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="quotation_id_control">報價單號</label>
                                                        <input class="readonly form-control form-control-sm" readonly
                                                            id="quotation_id"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="project_name">工程名稱</label>
                                                        <input class="readonly form-control form-control-sm"
                                                            name="project_name" readonly id="project_name"></input>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="client_name">客戶名稱</label>
                                                        <input class="readonly form-control form-control-sm"
                                                            name="client_name" readonly id="client_name"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="requisition">請購單位</label>
                                                        <input class="form-control readonly form-control-sm"
                                                            name="requisition" readonly id="requisition"></input>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="location">施工地點</label>
                                                        <input class="form-control readonly form-control-sm"
                                                            name="location" id="location" readonly></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="equipment_type_control">施工日期</label>
                                                        <input type="date" class="form-control form-control-sm"
                                                            name="construction_date" required
                                                            id="construction_date_control"></input>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="equipment_name_control">完工日期</label>
                                                        <input type="date" class="form-control form-control-sm" name="completion_date"
                                                            id="completion_date"></input>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="manuscript_return_date">手稿預計回傳日</label>
                                                        <input class="form-control form-control-sm" name="manuscript_return_date"
                                                            type="date" id="manuscript_return_date"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-12 col-lg-2">
                                                    <div class="form-group">
                                                        <label for="is_completed">是否完工</label>
                                                        <select class="form-control form-control-sm" name="is_completed"
                                                            id="is_completed" required>
                                                            <option value="false">否</option>
                                                            <option value="true">是</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-5">
                                                    <div class="form-group">
                                                        <label for="lead_employee">帶班主管</label>
                                                        <select class="select2" data-placeholder="選擇帶班主管"
                                                            name="lead_employee" id="lead_employee_select2" multiple>
                                                            {% for employee in employees_list %}
                                                            <option value="{{ employee.id }}">
                                                                {{employee.full_name}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-5">
                                                    <div class="form-group">
                                                        <label for="inspector_select2">檢測人員</label>
                                                        <select class="select2" data-placeholder="選擇工作人員"
                                                            name="inspector" id="inspector_select2" multiple>
                                                            {% for employee in employees_list %}
                                                            <option value="{{ employee.id }}">
                                                                {{employee.full_name}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="remark_control" class="col-form-label-sm">交接/備註</label>
                                                        <textarea class="form-control form-control-sm" name="remark" id="remark_control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="equipment_tab">
                                    <div class="project-confirmation-table container-fluid shadow-sm table-responsive"
                                        style="min-height: 400px;">
                                        <table id="Equipment_table" class="table table-sm table-hover text-center"
                                            id="table" data-toggle="table" data-sortable="true" data-toolbar="#toolbar"
                                            data-filter-strict-search="true" data-filter-control="true">

                                            <thead class="thead-light" style="font-size: 14px;">
                                                <tr class="text-nowrap">
                                                    <th>攜帶</th>
                                                    <th data-filter-control="input" data-field="es_equipment_id"
                                                        data-sortable="true">資產標籤</th>
                                                    <th data-filter-control="input" data-field="es_equipment_name"
                                                        data-sortable="true">品名</th>
                                                </tr>
                                            </thead style="font-size: 14px;">
                                            <tbody>
                                                {% for e in all_Equipment %}

                                                <tr>
                                                    <td> <input type="checkbox" name="importcheckd"
                                                            onclick="update_all_Equipment_checkedArray(this)"
                                                            value="{{ e.id }}" /> </td>
                                                    <td>{{ e.equipment_id }} </td>
                                                    <td>{{ e.equipment_name }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="test_items_tab">
                                    <div class="container"style="min-height: 400px;">
                                            <div class="form-row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="test_items">檢測項目</label>
                                                        <select  id="test_items"
                                                        data-placeholder="選擇檢測項目" id="test_items"
                                                        class="select2" name="test_items">
                                                            <option value="絕緣電阻">絕緣電阻</option>
                                                            <option value="吸收比">吸收比</option>
                                                            <option value="Tan Delta測試">Tan Delta測試</option>
                                                            <option value="D.VLF測試">D.VLF測試</option>
                                                            <option value="變壓器測試">變壓器測試</option>
                                                            <option value="DAC測試">DAC測試</option>
                                                            <option value="套管測試">套管測試</option>
                                                            <option value="接續拆裝">接續拆裝</option>
                                                            <option value="電纜拆裝">電纜拆裝</option>
                                                            <option value="電纜拆裝(含固定座拆裝)">電纜拆裝(含固定座拆裝)</option>
                                                            <option value="J.SF6濃度含水量">J.SF6濃度含水量</option>
                                                            <option value="施做電纜頭">施做電纜頭</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="test_date">檢驗日期</label>
                                                        <input type="date" class="form-control form-control-sm" name="test_date"
                                                            id="test_date"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="test_location">試驗地點</label>
                                                        <input class="form-control form-control-sm"
                                                            name="test_location" id="test_location"></input>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="format_and_voltage">廠牌規格/額定電壓</label>
                                                        <input class="form-control form-control-sm"
                                                            name="format_and_voltage" id="format_and_voltage"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="level">加壓等級</label>
                                                        <input class="form-control form-control-sm"
                                                            name="level" id="level"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="number">數量</label>
                                                        <input class="form-control form-control-sm"
                                                            name="number" id="number"></input>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <button type="button" id="test_items_form_btn"class="btn border border-dark rounded"
                                                style="color: #fff;background: #1E3050;">新增紀錄檢測項目</button>
                                                <hr>

                                                <table id="worklist" style="border:3px #cccccc solid;">
                                                    <thead>
                                                      <tr>
                                                        <th >檢測項目</th>
                                                        <th>廠牌規格/額定電壓</th>
                                                        <th>檢驗日期</th>
                                                        <th>加壓等級</th>
                                                        <th>試驗地點</th>
                                                        <th>數量</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="worklist_tbody">
                                                    </tbody>
                                                  </table>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="employee-assign-table container-fluid shadow-sm table-responsive">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true">
            <div id="toolbar">
                <div class="employee-assign-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal"
                        data-target="#employee-assign-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增派工單
                    </a>
                    <a class="upload-file font-weight-bold d-none d-md-inline-block" onclick="importfile()">
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i>
                        <span id="importLink">匯入</span>
                        <input type="file" id="fileInput" data-model="employee-assign" style="display: none;" />
                    </a>
                    <a href="/media/file_form_template/派工單樣板.xlsx" class="font-weight-bold d-none d-md-inline-block"
                        download="">
                        <i class="fa-solid fa-download fa-sm" style="color: #000000;"></i> 下載公版
                    </a>
                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('派工單.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('派工單.xlsx')">匯出已選資料</button>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-inline-block">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edid">編輯</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="delete">刪除</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="approval">簽核
                    </th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="naelete">簽名</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="process">
                        列印/下載pdf</th>

                    <th data-field="id" data-sortable="true">派工單</th>
                    <th data-field="job" data-sortable="true">工程派任計畫單</th>
                    <th data-field="quotation_id" data-sortable="true">報價單號</th>
                    <th data-field="project_name" data-sortable="true">工程名稱</th>
                    <th data-field="lead_employee" data-sortable="true">帶班主管</th>
                    <th data-field="construction_date" data-sortable="true">施工日期</th>
                    <th data-field="completion_date" data-sortable="true">完工日期</th>
                    <th data-field="is_completed" data-sortable="true">是否完工</th>
                    <th data-field="client" data-sortable="true">客戶名稱</th>
                    <th data-field="inspector" data-sortable="true">檢測人員</th>
                    <th data-field="vehicle" data-sortable="true">使用車輛</th>
                    <th data-field="manuscript_return_date" data-sortable="true">手稿預計回傳日</th>
                    <th data-field="enterprise_signature" data-sortable="true">業主簽名</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for p in Project_Employee_Assign %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                            value="{{ j.id }}"></td>
                    <td>
                        <a type="button" data-url="project_employee_assign" data-id="{{p.id}}"
                            data-approval="{{ p.Approval.current_status}}" class="btn btn-sm btn-warning my-2 mx-md-2"
                            data-toggle="modal" onclick="LoadData(event)" data-target="#employee-assign-modal"><i
                                class="fas fa-sm fa-edit"></i></a>
                    </td>
                    <td>
                        <a data-url="project_employee_assign" data-id="{{p.id}}" type="button"
                            class="sys_del btn btn-sm btn-danger my-2 mx-md-2"><i
                                class="far fa-sm fa-trash-alt"></i></a>
                    </td>
                    <td>

                        {% if p.Approval %}
                        {{p.Approval.get_current_status_display}}

                        {% if p.Approval.current_status == "completed" %}
                        {% if request.user|get_supervisor %}
                        / <button data-id="{{p.id}}" data-model="Project_Employee_Assign"
                            onclick="DelApproval(event)">收回(主管)</button>
                        {% endif %}
                        {% endif %}


                        {% if p.Approval.current_status == "in_process" %}
                        / <button data-id="{{p.id}}" data-model="Project_Employee_Assign"
                            onclick="DelApproval(event)">收回</button>
                        {% endif %}

                        {% if p.Approval.current_status == "rejected" %}
                        / <button data-id="{{p.id}}" data-model="Project_Employee_Assign"
                            onclick="submitApproval(event)">發送新簽核</button>
                        {% endif %}

                        {% else %}
                        <button data-id="{{p.id}}" data-model="Project_Employee_Assign"
                            onclick="submitApproval(event)">開始簽核</button>
                        {% endif %}

                    </td>
                    <td>
                        <a href="" onclick="setSettingId('{{ p.id }}')" data-toggle="modal"
                            data-target="#signatureModal">業主簽名</a>
                    </td>
                    <td><a target="_blank" href="{% url 'project_employee_assign_View' id=p.id %}">點擊</a></td>


                    <td>{{ p.get_show_id }}</td>
                    <td>{{ p.project_job_assign.get_show_id }}</td>
                    <td>{{ p.project_job_assign.project_confirmation.quotation.get_show_id }}</td>
                    <td>{{ p.project_job_assign.project_confirmation.quotation.project_name }}</td>
                    <td>{% for employees_list in p.lead_employee.all %}{{ employees_list.full_name }}<br>{% endfor %}
                    </td>   
                    <td>{{ p.construction_date|date:"Y/m/d" }}</td>
                    <td>{% if p.completion_date %}{{ p.completion_date|date:"Y/m/d" }}{% else %}{% endif %}</td>
                    <td>{% if p.is_completed %}是{% else %}否{% endif %}</td>
                    <td>{% if p.project_job_assign.project_confirmation.quotation.client %}{{p.project_job_assign.project_confirmation.quotation.client }}{% endif %}</td>
                    <td>{% for employees_list in p.inspector.all %}{{ employees_list.full_name }}<br>{% endfor %}</td>
                    <td>{% if p.project_job_assign.vehicle %}{{ p.project_job_assign.vehicle }}{% else %}{% endif %}
                    </td>
                    <td>{% if p.manuscript_return_date %}{{ p.manuscript_return_date|date:"Y/m/d" }}{% endif %}</td>

                    <td>{{ p.enterprise_signature_link }}</td>
                </tr>
                {% empty %}

                <h2>
                    目前無資料
                </h2>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/approval.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/fuc/fileimport.js' %}",
            "{% static 'js/employee_assign/employee_assign.js' %}",
            "{% static 'js/employee_assign/work_tests.js' %}",
            "{% static 'js/employee_assign/choose_Equipment.js' %}",
            "{% static 'js/employee_assign/signature_name.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

    $(document).ready(function () {

        $('#Equipment_table').bootstrapTable({
            // height: $(window).height()*0.7,
            toolbar: "#toolbar",

        });

    });

    async function LoadData(event) {

        const approvalStatus = event.currentTarget.getAttribute('data-approval');

        if (approvalStatus == "in_process" || approvalStatus == "completed") {
            lock_input();
        } else {
            unlock_input();
        }


        getdata = await GET_handleClick(event, true);
        console.log(getdata)
        get_value = Object.values(getdata["carry_equipments"]);
        all_Equipment_checked = get_value;
        syncall_Equipment_checkedRowsWithArray();
        
        var choose_input = document.getElementById("project_job_assign_id");
        const change_event = new Event("change");
        choose_input.dispatchEvent(change_event);
        
        var test_items_str_value_load = getdata["test_items_str"];
        var jsonArray =[]
        if(test_items_str_value_load){
            jsonArray= JSON.parse(test_items_str_value_load);
        
        }
        work_tests_ary=jsonArray;
        renderTestsList();



    }
</script>


{% endblock %}