{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/employee_assign/employee_assign.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3 px-md-5">
    <div id="error-message"></div>
    <div class="employee-assign modal fade" id="employee-assign-modal" tabindex="-1" aria-labelledby="employee-assign" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employee-assign-label">派工單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/project_confirmation" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="row my-2">
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_id_control">報價單號</label>
                                                <input class="form-control form-control-sm" name="equipment_id" id="equipment_id_control" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="order_id_control">工程名稱</label>
                                                <input class="form-control form-control-sm" name="order_id" id="order_id_control" required></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_type_control">客戶名稱</label>
                                                <input class="form-control form-control-sm" name="equipment_type" id="equipment_type_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_name_control">請購單位</label>
                                                <input class="form-control" name="equipment_name" id="equipment_name_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_type_control">施工日期</label>
                                                <input class="form-control form-control-sm" name="equipment_type" id="equipment_type_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_name_control">完工日期</label>
                                                <input class="form-control" name="equipment_name" id="equipment_name_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_id_control">是否完工</label>
                                                <input class="form-control form-control-sm" name="equipment_id" id="equipment_id_control" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="order_id_control">施工地點</label>
                                                <input class="form-control form-control-sm" name="order_id" id="order_id_control" required></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_type_control">檢測人員</label>
                                                <select class="select2" data-placeholder="選擇檢測人員" name="support"  id="support_control" multiple >+
                                                    <option value="1">1</option>++
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_name_control">使用車輛</label>
                                                <input class="form-control" name="equipment_name" id="equipment_name_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_type_control">資料登打人員</label>
                                                <input class="form-control form-control-sm" name="equipment_type" id="equipment_type_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_name_control">手稿預計回傳日</label>
                                                <input class="form-control" name="equipment_name" id="equipment_name_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_type_control">帶班主管</label>
                                                <input class="form-control form-control-sm" name="equipment_type" id="equipment_type_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="equipment_name_control">填表人</label>
                                                <input class="form-control" name="equipment_name" id="equipment_name_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="equipment_type_control">業主簽名</label>
                                                <input class="form-control form-control-sm" name="equipment_type" id="equipment_type_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            <div class=" d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee-assign-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table"  data-toggle="table" data-sortable="true" data-show-export="true"
        data-export-options='{"ignoreColumn": [0]}' data-toolbar="#toolbar"  data-pagination="true" data-height="520" data-sticky-header="true"
        data-search="true" data-show-columns="true" data-show-columns-toggle-all="true">
        <div id="toolbar">
            <div class="employee-assign-header container-fluid">
                <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal"data-target="#employee-assign-modal">
                    <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增派工單
                </a>
                <br>
                <a href="" class="font-weight-bold" id="" >
                    <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i> 匯入
                </a>
            </div>
          </div>            
            <thead class="thead-light">
                <tr class="text-nowrap">
                    <th></th>
                    <th data-field="quotation_id" data-sortable="true">報價單號</th>
                    <th data-field="project_name" data-sortable="true">工程名稱</th>
                    <th data-field="client" data-sortable="true">客戶名稱</th>
                    <th data-field="requisition" data-sortable="true">請購單位</th>
                    <th data-field="created_date" data-sortable="true">施工日期</th>
                    <th data-field="created_date" data-sortable="true">完工日期</th>
                    <th data-field="created_date" data-sortable="true">是否完工</th>
                    <th data-field="created_date" data-sortable="true">施工地點</th>
                    <th data-field="created_date" data-sortable="true">檢測人員</th>
                    <th data-field="created_date" data-sortable="true">使用車輛</th>
                    <th data-field="created_date" data-sortable="true">資料登打人員</th>
                    <th data-field="created_date" data-sortable="true">手稿預計回傳日</th>
                    <th data-field="created_date" data-sortable="true">帶班主管</th>
                    <th data-field="created_date" data-sortable="true">填表人</th>
                    <th data-field="created_date" data-sortable="true">業主簽名</th>
                    <th data-field="created_date" data-sortable="true">建立日期</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a type="button" data-url="project_confirmation" data-id=""
                            class="sys_get btn btn-sm btn-warning my-2 mx-md-2" data-toggle="modal"
                            data-target="#project-confirmation-modal"><i class="fas fa-edit"></i></a>
                        <a data-url="project_confirmation" data-id="" type="button"
                            class="sys_del btn btn-sm btn-danger my-2 mx-md-2"><i class="far fa-trash-alt"></i></a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    // 更美化 file input
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    // Bootstrap-Table
    $(document).ready(function () {
        $('#table').bootstrapTable({
            height: $(window).height()*0.85,
            toolbar: "#toolbar"
        });
        // select2    
        $('.select2').select2({
            width: '100%',
            allowClear: true
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var script = document.createElement('script');
        script.src = "{% static 'js/fuc/restful.js' %}";
        document.body.appendChild(script);
    });

</script>


{% endblock %}