{% extends 'base/base.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<!-- 放css連結 -->
<link rel="stylesheet" href="{% static 'css/index/index-unlogin.css' %}">
<link rel="stylesheet" href="{% static 'css/index/index-login.css' %}">

{% endblock %}


{% block main %}

{% if request.user.is_authenticated %}
    <!-- 登入 -->
    {% include 'index/index-login.html' %}
{% else %}
    <!-- 尚未登入 -->
    {% include 'index/index-unlogin.html' %}
{% endif %}

{% endblock %}