{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}

{% load custom_tags %}


{% block main %}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    曠職: {{work_list.miss_hours}} 時 {{work_list.miss_minutes}} 分
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>狀態</th>
                                <th>上班時間</th>
                                <th>下班時間</th>
                                <th>工作時間</th>
                                <th>請假</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in work_list.list %}
                            {% if entry.status != 'ok' and entry.status != '3' %}
                            <tr>
                                <td>{{ entry.date }}</td>
                                <td>
                                    {% if entry.status == '1' %}
                                    漏打卡(當天只打一次卡)
                                    {% elif entry.status == '0' %}
                                    曠職
                                    {% elif entry.status == '3' %}
                                    整天請假
                                    {% elif entry.status == 'ok' %}
                                    完成工作
                                    {% elif entry.status == 'no' %}
                                    少於8小時
                                    {% endif %}
                                </td>
                                <td>
                                    {% if entry.ear_time %}
                                    {{ entry.ear_time|time:"H:i" }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if entry.last_time %}
                                    {{ entry.last_time|time:"H:i" }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ entry.hours }} {{entry.miss}}
                                </td>
                            </tr>
                            {% if entry.results %}
                            <tr>
                                <td colspan="6">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Total Hours</th>
                                                <th>Total Minutes</th>
                                                <th>Leave Type</th>
                                                <th>Leave ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for result in entry.results %}
                                            <tr>
                                                <td>{{ result.total_hours }}</td>
                                                <td>{{ result.total_minutes }}</td>
                                                <td>{{ result.type_of_leave }}</td>
                                                <td>{{ result.id }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endif %}

                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>




<div class="main">
    <div class="container shadow-sm">
      
        <div class="row text-center">
            <div class="col-2">
                <img src="{% static 'img/logo/logo_removebg.png' %}" width="120" class="img-fluid" alt="艾力克電機">
            </div>
            <div class="clock-inout-record border-right col-6">
                
                <div class="clock-inout-record-title font-weight-bold">未打卡紀錄</div>
                <div class="clock-inout-record-content my-3">
                    {% if work_list.error_time == 0 %}
                    無異常
                    {% else %}
                    異常天數:{{work_list.error_time }}
                    <a href="" data-toggle="modal" data-target="#myModal">明細</a>
                    {% endif %}
                </div>
            </div>
            {% if False %}
            <div class="clock-inout-record border-right col-4">
                
                <div class="clock-inout-record-title font-weight-bold">派任計畫異常</div>
                <div class="clock-inout-record-content my-3">
                    {% for item in employee_assign_ids %}
                    {{ item }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    <div class="container shadow-sm mt-4">
        <div class="row text-center">
            <div class="col-12" style="min-height: 150px;">
                <div class="container table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="text-nowrap">
                                <th>日期</th>
                                <th>簽到</th>
                                <th>簽退</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in clock_inout %}
                            <tr>
                                <td>{{ e.day }}</td>
                                <td>{{ e.checkin }}</td>
                                <td>{{ e.checkout }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container shadow-sm mt-4">
        <div class="row">
            <div class="col-12 col-md-6  border-right" style="height: 230px;overflow: scroll;">
                <div class="font-weight-bold mb-2 text-center"
                    style="position: sticky; top: 0;background: #f4f4f3;z-index: 1;">行程安排</div>
                <div class="schedule container">
                    {% for date, projects in grouped_projects.items %}
                    <div class="row">
                        <div class="col-6">
                            {{ date|highlight_date|safe }}
                        </div>
                        <div class="col-6">
                            {% for project in projects %}
                            <li href=""
                                onclick="showjobassign('工派單編號: {{ project.get_show_id }}|專案名稱: {{ project.project_confirmation.quotation.project_name }}|出勤日期: {{ project.attendance_date }}|上班方式:{% if project.get_work_method_display %} 派公 {% else %} 非派工 {% endif %}|地點: {{ project.location }}|帶班主管: {{ project.lead_employee_str }}|檢測人員: {{ project.work_employee_str }}|車輛: {{ project.vehicle_str }}|備註:{{ project.remark  }}|客戶:{{ project.project_confirmation.quotation.client.client_name  }}|業主:{{ project.project_confirmation.quotation.requisition.client_name  }} ')">
                                {{ project.project_confirmation.quotation.project_name }}
                            </li>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class=" col-12 col-md-6" style="height: 230px;overflow: scroll;">
                <div class="font-weight-bold mb-2 text-center"
                    style="position: sticky; top: 0;background: #f4f4f3;z-index: 1;">公司最新資訊</div>
                <div class="news container">
                    {% for n in news %}
                    <a href="" data-toggle="modal" data-target="#news-modal"
                        data-content="{{ n.title }}|{{ n.get_category_display }}|{{ n.get_type_display }}|{{ n.get_level_display }}|{{ n.created_date }}|{{ n.editor_content }}|{{  n.attachment_url}}" >
                        <div class="row">
                            <div class="col-6" style="overflow-x: hidden;">
                                [{{ n.get_category_display }}][{{ n.get_type_display }}]
                            </div>
                            <div class="col-6" style="overflow-x: hidden;">
                                {{ n.title }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="news-modal modal fade" id="news-modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="department-label"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <h5 id="badge-row">
                                <span class="category-badge badge badge-dark"></span>
                                <span class="type-badge badge badge-dark"></span>
                                <span class="level-badge badge badge-dark"></span>
                                <span class="created-date-badge"></span>
                                <span class="download"></span>
                            </h5>
                            <div class="content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    
<script>

    function showjobassign(content) {
        var dataArr = content.split('|');
        console.log(dataArr)
        var project_confirmation_id = dataArr[0];
        var listHTML = "";
        for (var i = 0; i < dataArr.length; i++) {
            listHTML += "<li style='text-align: left;' >" + dataArr[i] + "</li>";
        }
        Swal.fire({
            icon: 'info',
            title: project_confirmation_id,
            html: listHTML
        })

    }

    $(document).ready(function () {
        // 監聽 modal 顯示事件

        $('#news-modal').on('show.bs.modal', function (event) {
            var triggerLink = $(event.relatedTarget); // 獲取點擊的 <a> 元素
            var content = triggerLink.data('content'); // 獲取點擊的 <a> 元素的 data-content 屬性值

            // 將資料解析為陣列
            var dataArr = content.split('|');
            // modal header放標題
            var modalBody = $(this).find('.modal-header');
            modalBody.find('.modal-title').html(`
                ${dataArr[0]}
            `);
            // modal badge row 放小資訊
            var modalBadgeRow = $(this).find('#badge-row');
            modalBadgeRow.find('.category-badge').html(`
                 ${dataArr[1]}
            `);
            modalBadgeRow.find('.type-badge').html(`
                 ${dataArr[2]}
            `);

            modalBadgeRow.find('.level-badge').html(`
                重要度： ${dataArr[3]}
            `);
            
            modalBadgeRow.find('.created-date-badge').html(`
                 ${dataArr[4]}
            `);
            var url = dataArr[6];
            console.log(url)
            var downloadLink = '';
            if (url) {
                downloadLink = `<a href="${url}" download>附件</a>`;
            }

            modalBadgeRow.find('.download').html(downloadLink);
            
            var modalContent = $(this).find('.modal-body');
            modalContent.find('.content').html(`
                ${dataArr[5]}
            `);
        });
    });
</script>

{% endblock %}