{% extends 'base/base_login.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% block main %}
<div class="container">
    <div class="row" style="margin-top: 15vh;">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="border py-5 px-4 rounded">
                <img src="{% static 'img/logo/logo_removebg.png' %}" width="120" class="img-fluid d-block mx-auto" alt="艾力克電機">
                <div class="text-center font-weight-bold" style="font-size: 1.5rem;">艾力克電機股份有限公司</div>
                <div class="login-form" style="margin-top:1.75rem;">
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- <div class="form-group">
                            <label for="belong_to_company_control">所屬公司</label>
                            <select class="form-control" name="belong_to_company" id="belong_to_company">
                                <option value="艾力克電機">艾力克電機</option>
                                <option value="維景電資">維景電資</option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <label for="username">帳號</label>
                            <input class="form-control" type="text" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">密碼</label>
                            <input class="form-control" type="password" id="password" name="password">
                        </div>
                        <p class="text-muted mt-2">若忘記密碼，請聯繫相關資訊人員重設密碼</p>
                        <input class="btn w-100" type="submit" value="登入">
                    </form>
                    {% if verified == False %}
                    <div class="verified-false alert alert-danger w-50 mx-auto mt-4 text-center">
                        帳號或密碼錯誤
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}