{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% block main %}
<div class="main">
    <div class="container shadow-sm">
        <div class="row text-center">
            <div class="clock-inout-record border-right col-12 col-md-4">
                <div class="clock-inout-record-title font-weight-bold">未打卡紀錄</div>
                <div class="clock-inout-record-content my-3">
                    無
                </div>
            </div>
            <div class="clock-inout-record border-right col-12 col-md-4">
                <div class="clock-inout-record-title font-weight-bold">未請假紀錄</div>
                <div class="clock-inout-record-content my-3">
                    無
                </div>
            </div>
            <div class="clock-inout-record col-12 col-md-4">
                <div class="clock-inout-record-title font-weight-bold">未申請加班紀錄</div>
                <div class="clock-inout-record-content my-3">
                    無
                </div>
            </div>
        </div>
    </div>
    <div class="container shadow-sm mt-4">
        <div class="row text-center">
            <div class="col-12" style="min-height: 150px;">
                <div class="container table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="text-nowrap">
                                <th>日期</th>
                                <th>簽到</th>
                                <th>簽退</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in clock_inout %}
                            <tr>
                                <td>{{ e.day }}</td>
                                <td>{{ e.checkin }}</td>
                                <td>{{ e.checkout }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container shadow-sm mt-4">
        <div class="row text-center">
            <div class="col-12 col-md-6  border-right">
                <div class="font-weight-bold" style="min-height: 150px;">
                    個人積分點數版
                </div>
            </div>
            <div class=" col-12 col-md-6">
                <div class="font-weight-bold" style="min-height: 150px;">
                    公司最新資訊
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}