{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}

{% load custom_tags %}


{% block main %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div id='calendar'></div>
            </div>
            <div class="col-12 col-md-4">
              <div id="calendar-detail">行程詳細內容</div>
          </div>
        </div>
    </div>
</div>

<script src="{% static 'js/fullcalendar/index.global.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale:'zh-tw',
            events: function(fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: '/restful/calendar',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        var events = response;
                        console.log(events)
                        successCallback(events);
                    },
                    error: function(error) {
                        console.log('Error fetching events:', error);
                    }
                });
            },
            eventClick: function(event, jsEvent, view) {
                console.log(event)
                console.log(jsEvent)
                // console.log(event)
                console.log(view)
                // document.getElementById('calendar-detail').innerHTML = info.event._def.title;
            }
        });
        calendar.render();
    });

  </script>
{% endblock %}