{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/calendar/calendar.css' %}">
{% endblock %}

{% load custom_tags %}


{% block main %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div id='calendar'></div>
            </div>
            <div class="col-12 col-md-4 border p-4 p-md-2">
                <h5 class="font-weight-bold">點擊行程 顯示詳細內容</h5>
                <div id="employee_assign_id"></div>
                <div id="calendar-title"></div>
                <div id="calendar-date"></div>
                <div id="work_method"></div>
                <div id="calendar-location"></div>
                <div id="work_emp"></div>
                <div id="work_employee"></div>
                <div id="tests_emp"></div>
                <div id="vehicle"></div>
                <div id="remark"></div>
                <div id="client"></div>
                <div id="requisition"></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/fullcalendar/index.global.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'zh-tw',
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: '/restful/calendar',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        "all": "{{all}}"
                    },
                    success: function (response) {
                        var events = response;
                        console.log(events)
                        successCallback(events);
                    },
                    error: function (error) {
                        console.log('Error fetching events:', error);
                    }
                });
            },
            eventContent: function (info) {
                var workMethod = info.event.extendedProps.work_method;
                console.log(workMethod)
                var eventBackgroundColor;
                if (workMethod === '派工') {
                    eventBackgroundColor = '#0079BF';
                } else {
                    eventBackgroundColor = '#FF6961'; // Change 'red' to your desired color
                }
                var eventContent = document.createElement('div');
                eventContent.style.backgroundColor = eventBackgroundColor;
                eventContent.innerHTML = info.event.title;
                return { domNodes: [eventContent] };

            },
            eventClick: function (info) {
                // fullcalendar 主要傳送 start、end、title，若有其他資料傳送，這裡要用 .extendedProps 抓額外資料
                var title = info.event.title // 報價單號 + 備註
                var date = moment(info.event.start).format('YYYY-MM-DD')
                var project_name = info.event.extendedProps.project_name;
                var location = info.event.extendedProps.location;
                var work_method = info.event.extendedProps.work_method;
                var lead_employee = info.event.extendedProps.lead_employee;
                var work_employee = info.event.extendedProps.work_employee;
                var employee_assign_id = info.event.extendedProps.employee_assign_id;
                var vehicle = info.event.extendedProps.vehicle;
                var remark = info.event.extendedProps.remark;
                var client = info.event.extendedProps.client;
                var requisition = info.event.extendedProps.requisition;
                // console.log(info.event.extendedProps)
                document.getElementById('calendar-title').innerHTML = "專案名稱: " + project_name;
                document.getElementById('calendar-date').innerHTML = "日期: " + date;
                document.getElementById('calendar-location').innerHTML = "地點: " + location;
                document.getElementById('work_emp').innerHTML = "帶班主管: " + lead_employee;
                document.getElementById('work_employee').innerHTML = "檢測人員: " + work_employee;
                document.getElementById('work_method').innerHTML = "方式: " + work_method;
                document.getElementById('employee_assign_id').innerHTML = "工派單編號: " + employee_assign_id;
                document.getElementById('vehicle').innerHTML = "車輛: " + vehicle;
                document.getElementById('remark').innerHTML = "備註: " + remark;
                document.getElementById('client').innerHTML = "客戶: " + client;
                document.getElementById('requisition').innerHTML = "業主名稱: " + requisition;
            },
        });
        calendar.render();
    });

</script>
{% endblock %}