.employee-permission-header a{
    text-decoration: none;
    color: black;
}
.employee-permission-table td{
    vertical-align: middle;
}
.employee-permission-table table{
    table-layout: fixed;
    word-break: break-all;
}
.employee-permission-table .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}


