<form action="/restful/project_employee_assign" id="form" method="POST" name="project_employee_assign"
    data-method="post">
    {% csrf_token %}

    {% load custom_tags %}

    <div class="tab-content">
        <div class="tab-pane fade show active" id="none_equipment_tab">
            <input name="id" hidden />

            <div class="form-row my-2">
                <div class="col-12 col-md-6">
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="project_confirmation_control">工程派任計畫</label>
                                <select class="form-control form-control-sm" name="project_job_assign"
                                    id="project_job_assign_id">
                                    <option value="-1">請選擇工作派任計畫</option>
                                    {% for job_assign in all_project_job_assign %}
                                    <option value="{{ job_assign.id }}">
                                        {{job_assign.get_show_id }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="show_id">派工單編號(系統產生)</label>
                                <input class="readonly form-control form-control-sm" name="show_id" id="show_id"
                                    readonly></input>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="quotation_id_control">報價單號</label>
                                <input class="readonly form-control form-control-sm" readonly id="quotation_id"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="project_name">工程名稱</label>
                                <input class="readonly form-control form-control-sm" name="project_name" readonly
                                    id="project_name"></input>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="client_name">客戶名稱</label>
                                <input class="readonly form-control form-control-sm" name="client_name" readonly
                                    id="client_name"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="requisition">請購單位</label>
                                <input class="form-control readonly form-control-sm" name="requisition" readonly
                                    id="requisition"></input>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="location">施工地點</label>
                                <input class="form-control readonly form-control-sm" name="location" id="location"
                                    readonly></input>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="lead_employee">帶班主管</label>
                                <select class="select2" data-placeholder="選擇帶班主管" name="lead_employee"
                                    id="lead_employee_select2" multiple>
                                    {% for employee in employees_list %}
                                    <option value="{{ employee.id }}">
                                        {{employee.full_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="equipment_type_control">施工日期</label>
                                <input type="date" class="form-control form-control-sm" name="construction_date"
                                    id="construction_date_control"></input>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="equipment_name_control">完工日期</label>
                                <input type="date" class="form-control" name="completion_date"
                                    id="completion_date"></input>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6 col-md-6">
                            <div class="form-group">
                                <label for="is_completed">是否完工</label>
                                <select class="form-control form-control-sm" name="is_completed" id="is_completed"
                                    required>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <label>交接/備註</label>
                            <textarea name="remark"></textarea>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="inspector_select2">檢測人員</label>
                                <select class="select2" data-placeholder="選擇工作人員" name="inspector"
                                    id="inspector_select2" multiple>
                                    {% for employee in employees_list %}
                                    <option value="{{ employee.id }}">
                                        {{employee.full_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">

                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="manuscript_return_date">手稿預計回傳日</label>
                                <input class="form-control" name="manuscript_return_date" type="date"
                                    id="manuscript_return_date"></input>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-12">
                    <div class="form-row">
                        <div class="col-5 col-md-5">
                            <div class="form-group">
                                <label for="test_items">檢測項目</label>
                                <select class="readonly" multiple id="test_items" data-placeholder="選擇檢測項目" class="select2"
                                    name="test_items">
                                    <option value="11888888888888">11888888888888</option>
                                    <option value="22">22</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-7 col-md-7">
                            <div class="form-group">
                                <label>檢測詳情</label>
                                <textarea class="readonly" name="test_description"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label for="carry_equipments">攜帶資產選擇</label>

                            <select multiple id="carry_equipments_select2" name="carry_equipments" class="select2">
                                {% for e in all_Equipment %}
                                <option value="{{ e.pk }}">
                                    {{e.equipment_id}}-{{e.order_id}}-{{e.equipment_name}}</option>
                                {% endfor %}
                            </select>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</form>