<form action="/restful/job_assign" id="form" name="job_assign" method="POST" class="pb-4" data-method="post">
    {% csrf_token %}
    <input name="id" hidden />
    <div class="form-row my-2">
        <div class="col-12 col-md-6">
            <h5 style="font-size: 1.2rem;">
                <kbd>派任計畫描述</kbd>
            </h5>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="project_confirmation">工程確認單編號</label>
                        <select class="form-control form-control-sm" name="project_confirmation"
                            id="project_confirmation_select2">
                            <option value="-1">請選擇工確單編號</option>
                            {% for project_confirmation in project_confirmation_list %}
                            <option value="{{ project_confirmation.pk }}">
                                {{ project_confirmation.get_show_id }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="job_assign_id_control">工派單編號(系統產生)</label>
                        <input class="readonly form-control form-control-sm" name="job_assign_id" readonly
                            id="job_assign_id_control"></input>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="project_name_control">工程名稱</label>
                        <input class="readonly form-control form-control-sm" name="project_name" id="project_name_control"
                            readonly></input>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="c_a_control">母案編號</label>
                        <input class="readonly form-control form-control-sm" name="c_a" readonly id="c_a_control"></input>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="client_control">客戶名稱</label>
                        <input class="form-control readonly form-control-sm" name="client" id="client_control" readonly></input>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="requisition_control">請購單位</label>
                        <input class="form-control readonly form-control-sm" name="requisition" readonly
                            id="requisitioncontrol"></input>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="location">工作地點</label>
                        {{ project_confirmation_form.location }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="remark_control" class="col-form-label-sm">備註</label>
                        <textarea class="form-control form-control-sm" name="remark" id="remark_control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h5 style="font-size:1.2rem;">
                <kbd>人力跟資源</kbd>
            </h5>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="lead_employee_select2">帶班人員</label>
                        <select class="select2" data-placeholder="選擇帶班人員" name="lead_employee"
                            id="lead_employee_select2" multiple>
                            {% for employee in employees_list %}
                            <option value="{{ employee.id }}">{{ employee.user__username }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="work_employee_select2">工作人員</label>
                        <select class="select2" data-placeholder="選擇工作人員" name="work_employee"
                            id="work_employee_select2" multiple>
                            {% for employee in employees_list %}
                            <option value="{{ employee.id }}">{{ employee.user__username }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="vehicle_control">使用車輛</label>
                        <select class="select2" name="vehicle" id="vehicle_select2" multiple>
                            {% for v in vehicle %}
                            <option value="{{ v.vehicle_id }}">{{ v.vehicle_id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="attendance_date">出勤日期</label>
                        <input type="date" class="form-control form-control-sm" name="attendance_date"
                            id="attendance_date" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                        <label for="work_method">工作方法</label>
                        <select class="form-control form-control-sm" name="work_method" id="work_method_select2">
                            <option value="true">派工/出勤</option>
                            <option value="false">在公司工作</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
    <div class=" d-flex justify-content-between">
        <button type="submit" class="btn border border-dark rounded w-50 mx-4 "
            style="color: #fff;background: #1E3050;">送出</button>
        <button type="button" class="btn border border-dark rounded w-50 mx-4 " style="color: #fff;background: #1E3050;"
            data-dismiss="modal">關閉</button>
    </div>
</form>