<form action="/restful/project_confirmation" id="form" name="project_confirmation" method="POST" class="pb-4"
    data-method="post">
    {% csrf_token %}
    <input name="id" hidden />
    <div class="form-row my-2" id="modal-download_pdf">
        <div class="col-12 col-md-6">
            <!-- <h5 style="font-size: 1.2rem;">
                <kbd>確認單描述</kbd>
            </h5> -->
            <div class="form-row">
                <div class="col-12">
                    <label for="quotation">報價單號</label>
                    <select class="form-control form-control-sm" name="quotation" id="quotation_id">
                        <option value="-1">選擇報價單號</option>
                        {% for quotation in quotation_list %}
                        <option value="{{ quotation.id }}">
                            {{ quotation.get_show_id }}-{{ quotation.project_name }}- 業主【 {{ quotation.requisition }}】
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="project_confirmation_id_control">工確單編號(系統產生)</label>
                        <input class="readonly form-control form-control-sm" name="project_confirmation_id"
                            id="project_confirmation_id_control" readonly></input>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="project_name_control">工程名稱</label>
                        <input class="readonly form-control form-control-sm" name="project_name"
                            id="project_name_control" readonly></input>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="client_control">客戶簡稱</label>
                        <input readonly type="text" class="readonly form-control form-control-sm" id="client_id" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="requisition">業主名稱</label>
                        <input readonly type="text" class="readonly form-control form-control-sm" id="requisition_id" />
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="c_a_control">母案編號</label>
                        <input class="form-control form-control-sm" name="c_a" id="c_a_control"></input>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="order_id_control">訂單編號</label>
                        <input class="form-control form-control-sm" name="order_id" id="order_id_control"></input>
                    </div>
                </div>


            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="remark_control" class="col-form-label-sm">備註</label>
                        <textarea class="form-control form-control-sm" name="remark" id="remark_control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- <h5 style="font-size:1.2rem;">
                <kbd>完工狀態</kbd>
            </h5> -->
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="is_completed">是否完工</label>
                        <select class="form-control form-control-sm" name="is_completed" id="is_completed" required>
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="completion_report_date_control">完工回報日期</label>
                        <input type="date" class="form-control form-control-sm" name="completion_report_date"
                            id="completion_report_date_control"></input>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="turnover_control">成交金額</label>
                        <input class="form-control form-control-sm" name="turnover" id="turnover_control"></input>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="completion_report_select2">完工回報人</label>
                        <select class="select2" data-placeholder="選擇完工回報人" name="completion_report_employee"
                            id="completion_report_employee_select2" multiple>
                            {% for employee in employees_list %}
                            <option value="{{ employee.id }}">{{ employee.full_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-12">
                    <label>工程確認單附件</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" data-modal="project_confirmation" name="attachment"
                            id="reassignment_attachment_control">
                        <label class="custom-file-label" for="reassignment_attachment_control">Choose file</label>
                    </div>
                    <a href="#" id="attachment" >下載附件</a>
                </div>
            </div>
        </div>
    </div>
    {% if showbtn %}
    <div class=" d-flex justify-content-between">
        <button type="submit" class="btn border border-dark rounded w-50 mx-4 "
            style="color: #fff;background: #1E3050;">送出</button>
        <button type="button" class="btn border border-dark rounded w-50 mx-4 " style="color: #fff;background: #1E3050;"
            data-dismiss="modal">關閉</button>
    </div>
    {% endif %}
</form>