<form action="/restful/Travel_Application" name="Travel_Application" id="form" method="POST" class="pb-4"
    data-method="post">
    {% csrf_token %}
    <input name="id" hidden>
    <div class="form-row my-2">
        <div class="col-12">
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="show_data_id">車程申請編號(系統產生)</label>
                        <input class="readonly form-control form-control-sm" name="show_data_id" id="" readonly></input>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="show_data_id">申請日期</label>
                        <input class="readonly form-control form-control-sm" type="date" name="date" id="" ></input>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="location_city_go">出發城市</label>
                        {{ Travel_ApplicationForm.location_city_go }}
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="location_city_end">目的地城市</label>
                        {{ Travel_ApplicationForm.location_city_end }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label>車程津貼附件</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" data-modal="travel_application" name="attachment"
                            >
                        <label class="custom-file-label" for="attachment">Choose file</label>
                    </div>
                    <a href="#" id="attachment">下載附件</a>    
                </div>
            </div>
        </div>
    </div>
    {% if showbtn %}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn border border-dark rounded w-50 mx-4"
            style="color: #fff;background: #1E3050;">送出</button>
        <button type="button" class="btn border border-dark rounded w-50 mx-4" style="color: #fff;background: #1E3050;"
            data-dismiss="modal">關閉</button>
    </div>
    {% endif %}
</form>