<form action="/restful/Travel_Application" name="Travel_Application" id="form" method="POST" class="pb-4"
    data-method="post">
    {% csrf_token %}
    <input name="id" hidden>
    <div class="form-row my-2">
        <div class="col-12">
            <div class="form-row">
                <div class="col-12 col-lg-6">
                    <label for="project_confirmation_control">工程派任計畫</label>
                    <select class="form-control form-control-sm" name="job_assign" id="project_job_assign_location">
                        <option value="-1">請選擇工作派任計畫</option>
                        {% for job_assign in Project_location_list %}
                        <option value="{{ job_assign.id }}">
                            {{job_assign.get_show_id }} - {{job_assign.location}}
                        </option>
                        {% endfor %}
                    </select>

                </div>
            </div>

           

        </div>
    </div>
    {% if showbtn %}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn border border-dark rounded w-50 mx-4"
            style="color: #fff;background: #1E3050;">送出</button>
        <button type="button" class="btn border border-dark rounded w-50 mx-4" style="color: #fff;background: #1E3050;"
            data-dismiss="modal">關閉</button>
    </div>
    {% endif %}
</form>