<form action="/restful/work_overtime_application" name="work_overtime_application" id="form" method="POST" class="pb-4" data-method="post">
    {% csrf_token %}
    <input name="id" hidden>
    <div class="form-row my-2">
        <div class="col-12">
            <div class="form-row">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="date_of_overtime">加班日期</label>
                        <input type="date" class="form-control form-control-sm" name="date_of_overtime" id="date_of_overtime">
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="shift_of_overtime">班前/班後</label>
                        {{ work_overtime_application_form.shift_of_overtime }}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="type_of_overtime">加班類別</label>
                        {{ work_overtime_application_form.type_of_overtime }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label for="start_hours_of_overtime">加班起始小時</label>
                        <select name="start_hours_of_overtime" class="form-control form-control-sm" id="start_hours_of_overtime">
                            {% for i in 24range %}
                              <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label for="start_mins_of_overtime">加班起始分鐘</label>
                        <select name="start_mins_of_overtime" class="form-control form-control-sm" id="start_mins_of_overtime">
                            {% for i in 60range %}
                              <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label for="end_hours_of_overtime">加班結束小時</label>
                        <select name="end_hours_of_overtime" class="form-control form-control-sm" id="end_hours_of_overtime">
                            {% for i in 24range %}
                              <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="form-group">
                        <label for="end_mins_of_overtime">加班結束分鐘</label>
                        <select name="end_mins_of_overtime" class="form-control form-control-sm" id="end_mins_of_overtime">
                            {% for i in 60range %}
                              <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!-- <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="overtime_hours">申請時數(時)</label>
                        <input type="text" class="readonly form-control form-control-sm" name="overtime_hours" id="overtime_hours" value="0" readonly>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="overtime_mins">申請時數(分)</label>
                        <input type="text" class="readonly form-control form-control-sm" name="overtime_mins" id="overtime_mins" value="0" readonly>
                    </div>
                </div> -->
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="carry_over">加班結轉方式</label>
                        {{ work_overtime_application_form.carry_over }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="overtime_reason">加班事由</label>
                        <textarea class="form-control form-control-sm" name="overtime_reason" id="overtime_reason"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if showbtn %}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn border border-dark rounded w-50 mx-4"
            style="color: #fff;background: #1E3050;">送出</button>
        <button type="button" class="btn border border-dark rounded w-50 mx-4"
            style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
    </div>
    {% endif %}
</form>