.employee-assign-header a{
    text-decoration: none;
    color: black;
}
.employee-assign-table td{
    vertical-align: middle;
}
.select2-container {
    font-size: 14px;
}
.bootstrap-table .fixed-table-container .table thead th {
    padding: 0 10px 6px 10px;
}
.filter-control input, .filter-control select{
    font-size: 12px;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    /* line-height: 1.5; */
    background: #f5f5f5;
    border-radius: 0.2rem;
}