{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% block main %}
<div class="main">
    <div class="container font-weight-bold mb-4">
        <form action="/restful/employee_attendance" id="form" method="get" data-method="get">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-md-2">
                    <label for="department_control">部門</label>
                    <select class="form-control form-control-sm" name="department" id="department_control">
                        {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.department_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 col-md-2">
                    <label for="clock_inout_control">類型</label>
                    <select class="form-control form-control-sm" name="clock_inout" id="clock_inout_control">
                        <option value="True">簽到</option>
                        <option value="False">簽退</option>
                    </select>
                </div>
                <div class="col-6 col-md-2">
                    <label for="full_name_control">員工姓名</label>
                    <input type="text" class="form-control form-control-sm" name="full_name" id="full_name_control"></input>
                </div>
                <div class="col-6 col-md-2">
                    <label for="clock_time_date_control">日期</label>
                    <input type="date" class="form-control form-control-sm" name="clock_time_date" id="clock_time_date_control"></input>
                </div>
                <div class="col-6 col-md-2" style="margin-top: 30px;">
                    <button type="submit">送出</button>
                    <span class="ml-2 ml-md-4" id="Data_Not_Found" style="display: none;">查無資料</span>
                </div>
            </div>
        </form>
    </div>
    <div class="container shadow-sm table-responsiv">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="text-nowrap">
                    <th>日期</th>
                    <th>部門</th>
                    <th>編號</th>
                    <th>員工</th>
                    <th>類型</th>
                    <th>時間</th>
                    <th>位置</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
<script>
    
    $("form").on("submit", function (event) {
        event.preventDefault();
        var form = $(this);
        var formData = form.serialize();
        console.log("formData: "+formData)
        $.ajax({
            type: "get",
            url: "{% url 'employee_attendance_api' %}",
            data: formData,
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                document.querySelector("tbody").innerHTML = ""; // 清除 tr，避免重疊新增資料
                jsonData = response.data // jsonData 為陣列
                // 如果 jsonData 沒有值，就顯示<查無資料>
                if(jsonData[0]){
                    // 第一個迴圈遍歷Employee建tr，第二個遍歷要的資料建td
                    for (let i = 0; i < jsonData.length; i++) {
                        const tr = document.createElement("tr");
                        // console.log("jsonData[i]: " + jsonData[i])
                        for (const key in jsonData[i]) {
                            const td = document.createElement("td");
                            if(key === "clock_GPS"){
                                const link = document.createElement("a");
                                link.href = "https://www.google.com/maps?q=" + jsonData[i][key] + "&hl=zh-TW&label=Custom%20Marker";
                                link.innerText = "地圖";
                                link.target = "_blank";
                                td.appendChild(link);
                            }else if(key === "clock_inout"){
                                if(jsonData[i][key]==="True"){td.innerText="簽到"}else{td.innerText="簽退"}
                            }
                            else{
                                td.innerText = jsonData[i][key];
                                // console.log("jsonData[i].key: "+ jsonData[i][key])
                            }
                            tr.appendChild(td);
                        }
                        document.querySelector("tbody").appendChild(tr);
                    }
                }else{
                    console.log(jsonData)
                    document.querySelector("#Data_Not_Found").style = "display:inline-block;"
                }
                
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 400) {
                    // 處理400錯誤，顯示伺服器返回的錯誤訊息
                    var errorMessage = xhr.responseJSON.data;
                    console.log(errorMessage)
                    console.log(errorMessage[0])
                    var errorMessageHTML = "<ul>";
                    Object.entries(errorMessage).map(([key, errors]) => {
                        errors.forEach(error => {
                            errorMessageHTML += "<li><strong>" + key + ":</strong> " + error + "</li>";
                        });
                    });
                    errorMessageHTML += "</ul>";
                    console.log(errorMessageHTML)


                    Swal.fire({
                        title: '更新失敗',
                        html: errorMessageHTML,
                        icon: 'error',
                        confirmButtonText: '確定',
                    })
                } else {
                    // 其他錯誤處理
                    alert("系統發生錯誤");
                }
            }
        });

    });
</script>
{% endblock %}