{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% block main %}
<div class="main">
    <div class="container font-weight-bold mb-4">
        <form action="/restful/employee_attendance" id="form" method="get" data-method="get">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-md-2">
                    <label for="department_control">部門</label>
                    <select class="form-control form-control-sm" name="department" id="department_control">
                        {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.department_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 col-md-2">
                    <label for="employee_id_control">員工編號</label>
                    <input class="form-control form-control-sm" name="employee_id" id="employee_id_control"></input>
                </div>
                <div class="col-6 col-md-2">
                    <label for="clock_time_date_control">日期</label>
                    <input type="date" class="form-control form-control-sm" name="clock_time_date" id="clock_time_date_control"></input>
                </div>
                <div class="col-6 col-md-2" style="margin-top: 30px;">
                    <button type="submit">送出</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container shadow-sm table-responsiv">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="text-nowrap">
                    <th>部門</th>
                    <th>編號</th>
                    <th>員工</th>
                    <th>簽到</th>
                    <th>簽退</th>
                    <th>位置</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

</script>
{% endblock %}