{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/equipment/equipment.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3 px-md-5">
    <div id="error-message"></div>
    <div class="equipment modal fade" id="equipment-modal" tabindex="-1" aria-labelledby="equipment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="equipment-label">固定資產管理</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/equipment" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden/>
                            <div class="form-row my-2">
                                <div class="col-12 col-md-6">
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="equipment_id_control">資產標籤</label>
                                                <input class="form-control form-control-sm" name="equipment_id" id="equipment_id_control" required>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="order_id_control">序號</label>
                                                <input class="form-control form-control-sm" name="order_id" id="order_id_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="equipment_category_control">資產種類別</label>
                                                <input class="form-control form-control-sm" name="equipment_category"
                                                    id="equipment_category_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="equipment_type_control">中類</label>
                                                <input class="form-control form-control-sm" name="equipment_type"
                                                    id="equipment_type_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="equipment_name_control">品名</label>
                                                <input class="form-control form-control-sm" name="equipment_name"
                                                    id="equipment_name_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="product_model_control">廠牌/型號</label>
                                                <input class="form-control form-control-sm" name="product_model"
                                                    id="product_model_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="manufacturing_numbe_control">製造序號</label>
                                                <input class="form-control form-control-sm" name="manufacturing_numbe"
                                                    id="manufacturing_numbe_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="supplier_control">供應商</label>
                                                <input class="form-control form-control-sm" name="supplier" id="supplier_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="invoice_control">發票號碼</label>
                                                <input class="form-control form-control-sm" name="invoice" id="invoice_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="date_of_purchase_control">購入日期</label>
                                                <input class="form-control form-control-sm" name="date_of_purchase"
                                                    id="date_of_purchase_control" type="date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="cost_including_tax_control">購入成本(含稅)</label>
                                                <input class="form-control form-control-sm" name="cost_including_tax"
                                                    id="cost_including_tax_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="buyer_control">採購人</label>
                                                <input class="form-control form-control-sm" name="buyer" id="buyer_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="user_control">使用人</label>
                                                <input class="form-control form-control-sm" name="user" id="user_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="custodian_control">保管人</label>
                                                <input class="form-control form-control-sm" name="custodian"
                                                    id="custodian_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="abnormal_condition_control">異常狀態</label>
                                                <input class="form-control form-control-sm" name="abnormal_condition"
                                                    id="abnormal_condition_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="form-group">
                                                <label for="abnormal_condition_description_control">狀態說明</label>
                                                <input class="form-control form-control-sm"
                                                    name="abnormal_condition_description"
                                                    id="abnormal_condition_description_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="normal_or_abnormal_control">正常/異常</label>
                                                <input class="form-control form-control-sm" name="normal_or_abnormal"
                                                    id="normal_or_abnormal_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="form-group">
                                                <label for="abnormal_description_control">異常說明</label>
                                                <input class="form-control" name="abnormal_description"
                                                    id="abnormal_description_control">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>點此上傳異常照片</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"  data-modal="Equipment"
                                                        name="abnormal_img" id="reassignment_attachment_control">
                                                    <label class="custom-file-label" for="abnormal_img">Choose file</label>
                                                    <a href="#" id="abnormal_img" >下載附件</a>
                                                </div>
                                                <label>點此上傳買進照片</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"  data-modal="Equipment"
                                                    name="buy_img" id="reassignment_buy_img_control">
                                                    <label class="custom-file-label" for="buy_img">Choose file</label>
                                                    <a href="#" id="buy_img" >下載附件</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                    
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="inventory_control">盤點</label>
                                                <input class="form-control form-control-sm" name="inventory"
                                                    id="inventory_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="produced_stickers_control">需補產編貼紙</label>
                                                <select class="form-control form-control-sm" name="produced_stickers"
                                                    id="produced_stickers_control" required>
                                                    <option value="true">是</option>
                                                    <option value="false">否</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="transmitter_control">發報器大小</label>
                                                <select class="form-control form-control-sm" name="transmitter"
                                                    id="transmitter_control">
                                                    <option value="1">大</option>
                                                    <option value="2">小</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="storage_location_control">庫存地點</label>
                                                <input class="form-control form-control-sm" name="storage_location"
                                                    id="storage_location_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="detailed_location_control">位置</label>
                                                <input class="form-control form-control-sm" name="detailed_location"
                                                    id="detailed_location_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="warranty_control">保固期</label>
                                                <input class="form-control form-control-sm"  name="warranty"
                                                    id="warranty_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="warranty_period_control">保固期間(截止)</label>
                                                <input class="form-control form-control-sm" type="date" name="warranty_period"
                                                    id="warranty_period_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="is_check_control">校驗類別</label>
                                                <select class="form-control form-control-sm" name="is_check"
                                                    id="is_check_control" required>
                                                    <option value="true">是</option>
                                                    <option value="false">否</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="latest_check_date_control">最近一次校驗日</label>
                                                <input class="form-control form-control-sm" name="latest_check_date"
                                                    id="latest_check_date_control" type="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="check_order_id_control">校驗報告編碼</label>
                                                <input class="form-control form-control-sm" name="check_order_id"
                                                    id="check_order_id_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="check_remark_control">校驗註記</label>
                                                <input class="form-control form-control-sm" name="check_remark"
                                                    id="check_remark_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="maintenance_status_control">維修狀態</label>
                                                <input class="form-control form-control-sm" name="maintenance_status"
                                                    id="maintenance_status_control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="repair_date_control">送修日</label>
                                                <input class="form-control form-control-sm" name="repair_date"
                                                    id="repair_date_control" type="date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="repair_finished_date_control">完成日</label>
                                                <input class="form-control form-control-sm" name="repair_finished_date"
                                                    id="repair_finished_date_control" type="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="number_of_repairs_control">維修累計次數</label>
                                                <input class="form-control form-control-sm" name="number_of_repairs"
                                                    id="number_of_repairs_control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="accruing_amounts_control">維修累計金額</label>
                                                <input class="form-control form-control-sm" name="accruing_amounts"
                                                    id="accruing_amounts_control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="equipment-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
        data-toolbar="#toolbar" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
        data-search="true" data-show-columns="true" data-filter-strict-search="true"
        data-show-columns-toggle-all="true">
            <div id="toolbar">
                <div class="equipment-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal" data-target="#equipment-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增固定資產
                    </a>
                    <a class="upload-file font-weight-bold" onclick="importfile()">
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i>
                        <span id="importLink">匯入</span>
                        <input type="file" id="fileInput" style="display: none;" />
                    </a>
                    <a href="" class="font-weight-bold" download="">
                        <i class="fa-solid fa-download fa-sm" style="color: #000000;"></i> 下載公版
                    </a>
                    <button onclick="exportAllOptionToExcel('固定資產管理.xlsx')"data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button onclick="exportSelectedOptionToExcel('固定資產管理.xlsx')">匯出已選資料</button>
                </div>
            </div>
            <thead class="thead-light">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-field="epm_checkbox">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-field="epm_edit">編輯</th>
                    <th data-force-hide="true" data-switchable="false" data-field="epm_delete">刪除</th>
                    <th data-field="epm_equipment_id" data-sortable="true">資產標籤</th>
                    <th data-field="epm_order_id" data-sortable="true">序號</th>
                    <th data-field="epm_equipment_category" data-sortable="true">資產種類別</th>
                    <th data-field="epm_equipment_type" data-sortable="true">中類</th>
                    <th data-field="epm_equipment_name" data-sortable="true">品名</th>
                </tr>
            </thead>
            <tbody>
                {% for e in equipment %}

                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"value="{{ e.id }}"></td>
                    <td>
                        <a type="button" data-url="equipment" data-id="{{e.id}}"
                            class="sys_get btn btn-sm btn-warning" data-toggle="modal"
                            data-target="#equipment-modal"><i class="fas fa-edit"></i></a>
                    </td>
                    <td><a data-url="equipment" data-id="{{e.pk}}" type="button"
                        class="sys_del btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                    <td> {{ e.equipment_id}} </td>
                    <td>{{e.order_id}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });


</script>


{% endblock %}