{% extends 'base/base_login.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% block main %}
<div class="main">
    <div class="equipment-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            固定資產管理
        </span>
        <a href="" 
           class="btn border border-dark ml-2" 
           data-toggle="collapse"
           data-target="#equipment-modal">
           ＋新增資料
        </a>
    </div>
    <div class="container shadow-sm collapse" id="equipment-modal">
        <form action=""  method="POST" class="pb-4">
            {% csrf_token %}
            <div class="row my-4">
                <div class="col-12 col-md-6">
                    <h5 class="my-4" style="font-size: 1.2rem;">
                        <kbd>工作描述</kbd>
                    </h5>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="quotation_id_control col-form-label-sm">報價單號</label>
                                <select class="form-control form-control-sm" id="quotation_id_control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="c_a_control col-form-label-sm">母案編號</label>
                                <input class="form-control form-control-sm" id="c_a_control"></input>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="attendance_control col-form-label-sm">出勤日期</label>
                                <input type="date" class="form-control form-control-sm" id="attendance_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="projecet_id_control col-form-label-sm">工派單編號</label>
                                <input class="form-control form-control-sm" id="projecet_id_control"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="project_name_control col-form-label-sm">{{form.project_name}}</label>
                                <input class="form-control form-control-sm" id="project_name_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="location_control col-form-label-sm">工作地點</label>
                                <input class="form-control form-control-sm" id="location_control"></input>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="project_type_control" class="col-form-label-sm">工作類型</label>
                                <input class="form-control form-control-sm" id="project_type_control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="remark_control" class="col-form-label-sm">備註</label>
                                <textarea class="form-control form-control-sm" id="remark_control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="my-4" style="font-size:1.2rem;">
                        <kbd>人力跟資源</kbd>
                    </h5>
                    右邊
                </div>
            </div>
            <button type="submit" class="btn border border-dark rounded btn-block">新增</button>
        </form>
    </div>
    <div class="container shadow-sm table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>a</th>
                <th>b</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>a</td>
                <td>b</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td>a</td>
                <td>b</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>a</td>
                <td>b</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}