{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/job_assign/job_assign.css' %}">


{% endblock %}


{% block main %}
<div class="main px-3">
    <div id="error-message"></div>
    <div class="job_assign modal fade" id="job_assign-modal" tabindex="-1" aria-labelledby="job_assign"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="job_assign-label">工作派任計畫</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/job_assign" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <input name="id" hidden>
                            <div class="form-row my-2">
                                <div class="col-12 col-md-6">
                                    <h5 style="font-size: 1.2rem;">
                                        <kbd>派任計畫描述</kbd>
                                    </h5>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="project_confirmation">工程確認單編號</label>
                                                <select class="form-control form-control-sm" name="project_confirmation"
                                                    id="project_confirmation_id">
                                                    <option value="-1">
                                                        請選擇</option>
                                                    {% for project_confirmation in project_confirmation_list %}
                                                    <option value="{{ project_confirmation.pk }}">
                                                        {{project_confirmation.project_confirmation_id }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="project_name_control">工程名稱</label>
                                                <input class="form-control form-control-sm" id="project_name" readonly
                                                    id="project_name_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="c_a_control">母案編號</label>
                                                <input class="form-control form-control-sm" id="c_a" readonly
                                                    id="c_a_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="work_employee_select2">工作人員</label>
                                                <select class="select2" data-placeholder="選擇工作人員" name="work_employee"
                                                    id="work_employee_select2" multiple>
                                                    {% for employee in employees_list %}
                                                    <option value="{{ employee.id }}">{{ employee.user__username }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="lead_employee_select2">帶班人員</label>
                                                <select class="select2" data-placeholder="選擇帶班人員" name="lead_employee"
                                                    id="lead_employee_select2" multiple>
                                                    {% for employee in employees_list %}
                                                    <option value="{{ employee.id }}">{{ employee.user__username }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="xdda">出勤日期(請使用yyyymmdd格式新增)</label>
                                                <select  data-placeholder="出勤日期" name="attendance_date"
                                                    id="attendance_date_select2" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h5 style="font-size:1.2rem;">
                                        <kbd>人力跟資源</kbd>
                                    </h5>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="location_control">工作地點</label>
                                                <input class="form-control form-control-sm" name="location"
                                                    id="location_control"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="project_type_control">工作類型</label>
                                                <input class="form-control form-control-sm" name="project_type"
                                                    id="project_type_control"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="vehicle_control">使用車輛</label>
                                                <select class="form-control form-control-sm" name="vehicle"
                                                    id="vehicle_control">
                                                    <option value="車輛1">車輛1</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="support_employee_select2">支援人力</label>
                                                <select class="select2" data-placeholder="選擇帶班人員"
                                                    name="support_employee" id="support_employee_select2" multiple>
                                                    {% for employee in employees_list %}
                                                    <option value="{{ employee.id }}">{{ employee.user__username }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <label>完工重派附件</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    name="reassignment_attachment" id="reassignment_attachment_control">
                                                <label class="custom-file-label"
                                                    for="reassignment_attachment_control">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="remark_control" class="col-form-label-sm">備註</label>
                                                <textarea class="form-control form-control-sm" name="remark"
                                                    id="remark_control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4 "
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="job_assign-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-show-export="true" data-toolbar="#toolbar" data-pagination="true" data-search="true"
            data-show-columns="true" data-filter-strict-search="true" data-show-columns-toggle-all="true"
            data-export-types="['excel', 'json', 'csv', 'txt']" data-export-options='{"fileName": "派工單"}'>
            <div id="toolbar">
                <div class="job_assign-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal"
                        data-target="#job_assign-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增工作派任計畫
                    </a>
                    <br>
                    <a href="" class="font-weight-bold" id="">
                        <i class="fa-solid fa-arrow-right-to-bracket" style="color: #000000;"></i> 匯入

                    </a>
                    <button onclick="getSelectedValues()">匯出</button>

                </div>
                <thead class="thead-light" style="font-size: 14px;">
                    <tr class="text-nowrap">
                        <th data-force-hide="true" data-field="state">匯出</th>
                        <th data-force-hide="true"></th>
                        <th data-force-hide="true"></th>
                        <th>工派單編號</th>
                        <th>工程名稱</th>
                        <th>母案編號</th>
                        <th>出勤日期</th>
                        <th>工作人員</th>
                        <th>帶班人員</th>
                        <th>使用車輛</th>
                        <th>工作地點</th>
                        <th>工作類型</th>
                        <th>備註</th>
                        <th>支援人力</th>
                        <th>工確單附件</th>
                        <th>建立日期</th>
                    </tr>
                </thead>
                <tbody style="font-size: 14px;">
                    {% for j in job_assign %}
                    <tr>
                        <td> <input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                                value="{{ j.id }}" /> </td>
                        <td>
                            <a data-url="job_assign" data-id="{{ j.id }}" type="button"
                                class="sys_get btn btn-sm btn-warning" data-toggle="modal"
                                data-target="#job_assign-modal"><i class="fas fa-sm fa-edit"></i></a>
                        </td>
                        <td>
                            <a data-url="job_assign" data-id="{{ j.id }}" type="button"
                                class="sys_del btn btn-sm btn-danger"><i class="far fa-sm fa-trash-alt"></i></a>
                        </td>
                        <td>{{ j.project_confirmation.project_confirmation_id }}</td>
                        <td>{{ j.project_confirmation.project_name }}</td>
                        <td>{{ j.project_confirmation.c_a }}</td>
                        <td>{{ j.attendance_date }}
                        </td>
                        <td>
                            {% for employees_list in j.work_employee.all %}
                            {{ employees_list.full_name }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for employees_list in j.lead_employee.all %}
                            {{ employees_list.full_name }}
                            {% endfor %}
                        </td>
                        <td>{{ j.vehicle }}</td>
                        <td>{{ j.location }}</td>
                        <td>{{ j.project_type }}</td>
                        <td>{{ j.remark }}</td>
                        <td>
                            {% for employees_list in j.support_employee.all %}
                            {{ employees_list.full_name }}
                            {% endfor %}
                        </td>
                        <td>{{ j.attachment_link }}</td>
                        <td>{{ j.created_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/job-assign/job-assign.js' %}"
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });




</script>


{% endblock %}