<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- jquery 3.7.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap CSS 4.2.1 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- Vue 3 開發版跟生產版-->
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <!-- Bootstrap-Table -->
        <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
        
        <!-- 多選下拉式外掛 chosen -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
        <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
        <!-- 引入 jsPDF 函式庫 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            // 將 jsPDF 賦值給全域變數
            window.jsPDF = window.jspdf.jsPDF;
            </script>
    {% load static%}
    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/index-login.css' %}">
    
    
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {% block import %}

    {% endblock %}
</head>

<body>
    {% include 'base/sidebar.html' %}
    {% include 'base/header.html' %}



    {% block main %}

    {% endblock %}


</body>
<!-- 這個 jquery.slim.min.js 是隨著 Bootstrap CDN 複製過來的，但 slim 會卡到 JS 發送表單的 $.ajax 使用-->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!-- Bootstrap Table -->
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<!-- sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css
" rel="stylesheet">
<!-- 引入 html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    /*
    * 控制 sidebarCollapse（側邊面板） 跟 hamburgerMenu（漢堡icon）在 767px 上下的顯示跟隱藏。
    * 解決當螢幕小於 767px 展開側邊面板時，resize 尺寸會一直彈開 sidebarCollapse。
    */
    function checkScreenSize() {
        if (window.innerWidth <= 767) {
            const sidebarCollapse = document.querySelector('#sidebarCollapse');
            const hamburgerMenu = document.querySelector('#hamburgerMenu');

            // 如果 hamburgerMenu 已經 display:inline-block，不要移除show
            if (hamburgerMenu.style.display != "inline-block") {
                sidebarCollapse.classList.remove('show');
            }
            hamburgerMenu.style.display = "inline-block";
        } else {
            const sidebarCollapse = document.querySelector('#sidebarCollapse');
            sidebarCollapse.classList.add('show');

            const hamburgerMenu = document.querySelector('#hamburgerMenu');
            hamburgerMenu.style.display = "none";
        }
    }
    // 在頁面載入完成時和視窗尺寸變化時觸發 checkScreenSize 檢查螢幕尺寸的函式
    window.addEventListener('load', checkScreenSize);
    // 瀏覽器內建尺寸變化事件，使用 resize 通常不會造成網頁負擔
    window.addEventListener('resize', checkScreenSize);
</script>
<script>
    // 更美化 file input
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    // read 時，初始化這些套件(select2、bootstrap-table)，套件只能被初始化一次
    $(document).ready(function () {
        $('.select2').select2({
            width: '100%',
            allowClear: true,
        });

        // function bt_height(){
        //     var newHeight = $(window).height() * 0.7;
        //     console.log("resize: " + newHeight)
        //     $(".fixed-table-container.fixed-height").css("height", newHeight);
        // }
        // bt_height();
        // //  height 初始化設定過一次，resize 要再重設
        // $(window).resize(function () {
        //     bt_height();
        // });

        $('#table').bootstrapTable({
            // height: $(window).height()*0.7,
            toolbar: "#toolbar",
            //minimumCountColumns:2,
            //pageSize : 20, //一頁顯示幾筆
            //pageList : [ 20, 50, 100], //一頁顯示幾筆的選項
            
        });
        
        

    });
</script>

</html>