<header class="d-flex justify-content-between align-items-center px-3">
    <div>
        <a href="{% url 'index' %}" style="color: #000; text-decoration: none;">
            <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.2rem);">
                <i class="fa-solid fa-gear"></i> 管理儀錶板
            </span>
        </a>
    </div>

    <div>
        <button type="button" class="border border-dark rounded mr-2" data-toggle="modal" data-target="#clock-inout" @click="catchDateTime">
            簽到 / 簽退
        </button>

        <span class="dropdown-toggle mr-2 employee_full_name" data-toggle="dropdown">
            <i class="fa-solid fa-user"></i> {{ request.user.employee.full_name }}
        </span>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'profile'  %}">基本資料</a>
            <a class="dropdown-item" href="{% url 'logout' %}">登出</a>
        </div>
        <a id="hamburgerMenu" type="button" data-toggle="collapse" data-target="#sidebarCollapse" role="button"
            aria-expanded="true" style="display: none;">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
</header>
<div class="clock-inout modal fade" id="clock-inout" tabindex="-1" aria-labelledby="clock-inout" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clock-inoutLabel">簽到 / 簽退</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            姓名：{{ request.user.employee.full_name }}
                        </div>
                        <div class="col-12 col-md-6">
                            日期：[[ currentDate ]]
                        </div>
                        <div class="col-12 col-md-6">
                            時間：[[ currentTime ]]
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4" v-if="showConfirmationButton">
                    <a type="button" class="btn btn-outline-dark mb-2" :class="action" @click="confirmAction">
                        <i class="fa-regular fa-circle-question mr-1"></i>
                        [[ confirmationMessage ]]
                    </a><br>
                    <span class="text-muted">要同意打開GPS存取權限唷!</span>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn w-50" @click="setAction('clock-in')">簽到</a>
                <a type="button" class="btn w-50" @click="setAction('clock-out')">簽退</a>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/fuc/check.js' %}"></script>

<script>
    var csrftoken = '{{ csrf_token }}';
    
    const clock_inout_app = Vue.createApp({
        data() {
            return {
                action: '',
                showConfirmationButton: false,
                isFadeIn: false,
                currentDate: '',
                currentTime: ''
            };
        },
        delimiters: ['[[', ']]'],
        methods: {
            setAction(action) {
                this.action = action;
                this.showConfirmationButton = true;
                this.isFadeIn = !(this.isFadeIn);
            },
            confirmAction() {
                if (this.action === 'clock-in') {
                    check_process(this.action,csrftoken);            
                    // 處理完關掉modal 
                    $('#clock-inout').modal('hide');
                } else if (this.action === 'clock-out') {
                    check_process(this.action,csrftoken); 
                    // 處理完關掉modal 
                    $('#clock-inout').modal('hide');
                }
            },
            updateDateTime() {
                // 获取当前日期和时间
                const now = new Date();
                this.currentDate = now.toLocaleDateString();
                this.currentTime = now.toLocaleTimeString();
            }
        },
        computed: {
            confirmationMessage() {
                if (this.action === 'clock-in') {
                    return '是否確定簽到？';
                } else if (this.action === 'clock-out') {
                    return '是否確定簽退？';
                } else {
                    return '錯誤'
                }

            },
        },
        mounted() {
            this.updateDateTime(); // 初始化时间
            setInterval(this.updateDateTime, 1000); // 每秒钟更新时间
            // 获取当前日期
            const currentDate = new Date().toLocaleDateString();
            // 将当前日期绑定到HTML元素
            $('#current-date').text(currentDate);
            // 获取当前时间
            const currentTime = new Date().toLocaleTimeString();
            // 将当前时间绑定到HTML元素
            $('#current-time').text(currentTime);
            // hidden.bs.modal 當 modal 隱藏後
            $('#clock-inout').on('hidden.bs.modal', () => {
                this.showConfirmationButton = false;
            });
        },
        beforeUnmount() {
            $('#clock-inout').off('hidden.bs.modal');
        },
    });

    clock_inout_app.mount('#clock-inout');

</script>