<header class="d-flex justify-content-between align-items-center px-3 px-md-5">
    <div>
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            <i class="fa-solid fa-gear"></i> 管理儀錶板
        </span>
    </div>

    <div>
        <button type="button" class="border border-dark rounded mr-2" data-toggle="modal" data-target="#clock-inout">簽到
            / 簽退</button>

        <span class="dropdown-toggle mr-2" data-toggle="dropdown">
            <i class="fa-solid fa-user"></i> 王小明
        </span>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">設定</a>
            <a class="dropdown-item" href="#">登出</a>
        </div>
        <a id="hamburgerMenu" type="button" data-toggle="collapse" data-target="#sidebarCollapse" role="button"
            aria-expanded="true" style="display: none;">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
</header>
<div class="clock-inout modal fade" id="clock-inout" tabindex="-1" aria-labelledby="clock-inout" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clock-inoutLabel">簽到 / 簽退</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            姓名：王小明
                        </div>
                        <div class="col-12 col-md-6">
                            日期：2023/06/01
                        </div>
                        <div class="col-12 col-md-6">
                            時間：08:00
                        </div>
                        <div class="col-12 col-md-6">
                            地點：雲林縣麥寮區
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4" v-if="showConfirmationButton">
                    <a type="button" class="btn btn-outline-dark" :class="action" @click="confirmAction">
                        <i class="fa-regular fa-circle-question mr-1"></i>
                        [[ confirmationMessage ]]
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn w-50" @click="setAction('clock-in')">簽到</a>
                <a type="button" class="btn w-50" @click="setAction('clock-out')">簽退</a>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/fuc/check.js' %}"></script>

<script>
    var csrftoken = '{{ csrf_token }}';
    
    const clock_inout_app = Vue.createApp({
        data() {
            return {
                action: '',
                showConfirmationButton: false,
                isFadeIn: false,
            };
        },
        delimiters: ['[[', ']]'],
        methods: {
            setAction(action) {
                check_process(action,csrftoken);
                this.action = action;
                this.showConfirmationButton = true;
                this.isFadeIn = !(this.isFadeIn);
            },
            confirmAction() {
                if (this.action === 'clock-in') {            
                    // 處理完關掉modal $('#clock-inout').modal('hide');
                } else if (this.action === 'clock-out') {
                    // 處理簽退
                    // .... 
                    // 處理完關掉modal $('#clock-inout').modal('hide');
                }
            },
        },
        computed: {
            confirmationMessage() {
                if (this.action === 'clock-in') {
                    return '是否確定簽到？';
                } else if (this.action === 'clock-out') {
                    return '是否確定簽退？';
                } else {
                    return '錯誤'
                }

            },
        },
        mounted() {
            // hidden.bs.modal 當 modal 隱藏後
            $('#clock-inout').on('hidden.bs.modal', () => {
                console.log("$('#clock-inout')")
                this.showConfirmationButton = false;
            });
        },
        beforeUnmount() {
            $('#clock-inout').off('hidden.bs.modal');
        },
    });

    clock_inout_app.mount('#clock-inout');

</script>