<div class="sidebar pl-2 collapse width show" id="sidebarCollapse">
    <div class="sidebar-logo">
        <img src="" alt="">
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#calendarCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="engineerCollapse">
                <i class="fa-solid fa-user-pen" style="color: #ffffff;"></i> 個人管理
            </a>
            <div class="collapse" id="calendarCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar' %}">行程表</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#directorCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="engineerCollapse">
                <i class="fa-solid fa-user-tie" style="color: #ffffff;"></i> 主管管理
            </a>
            <div class="collapse" id="directorCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'director_Index' %}">部門員工</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#engineerCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="engineerCollapse">
                <i class="fa-solid fa-wrench" style="color: #ffffff;"></i> 工程部
            </a>
            <div class="collapse" id="engineerCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project-confirmation' %}">工程確認單</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project' %}">工作派任計畫</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_assign' %}">派工單</a>
                    </li>
                </ul>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#personnelCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="personnelCollapse">
                <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> 管理部
            </a>
            <div class="collapse" id="personnelCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'department' %}">部門管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_list' %}">員工管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_attendance' %}">員工出勤</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_permission_list'%}">權限管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'equipment' %}">固定資產管理</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#financialCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="financialCollapse">
                <i class="fa-solid fa-sack-dollar" style="color: #ffffff;"></i> 財務部
            </a>
            <div class="collapse" id="financialCollapse">
            <ul class="nav flex-column ml-4">
                <li class="nav-item">
                    <a class="nav-link" href="#">薪資管理</a>
                </li>
            </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#reimbursementCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="reimbursementCollapse">
                <i class="fa-solid fa-pen" style="color: #ffffff;"></i> 簽核管理
            </a>
            <div class="collapse" id="reimbursementCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Approval_Process' %}">待簽核處理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Approval_List' %}">簽核追蹤</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#newsCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="newsCollapse">
                <i class="fa-solid fa-bullhorn" style="color: #ffffff;"></i> 行政管理
            </a>
            <div class="collapse" id="newsCollapse">
            <ul class="nav flex-column ml-4">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">公告設置</a>
                </li>
            </ul>
            </div>
        </li>
    </ul>
</div>