<div class="sidebar pl-3 collapse width show" id="sidebarCollapse">
    <div class="sidebar-logo">
        <img src="" alt="">
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fa-solid fa-file-lines mr-2" style="color: #ffffff;"></i> 工程確認單</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'project' %}"><i class="fa-solid fa-scroll" style="color: #ffffff;"></i></i> 工作派任計畫</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-wrench mr-2" style="color: #ffffff;"></i> 派工單</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'equipment' %}"><i class="fa-solid fa-warehouse mr-2" style="color: #ffffff;"></i> 固定資產管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#personnelCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="personnelCollapse">
                <i class="fa-solid fa-user-plus mr-2" style="color: #ffffff;"></i> 人事部
            </a>
            <div class="collapse" id="personnelCollapse">
                <ul class="nav flex-column ml-5">
                    <li class="nav-item">
                        <a class="nav-link" href="#">部門管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">員工管理</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#financialCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="financialCollapse">
                <i class="fa-solid fa-sack-dollar mr-2" style="color: #ffffff;"></i> 財務部
            </a>
            <div class="collapse" id="financialCollapse">
            <ul class="nav flex-column ml-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">薪資管理</a>
                </li>
            </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#newsCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="newsCollapse">
                <i class="fa-solid fa-bullhorn" style="color: #ffffff;"></i> 行政管理
            </a>
            <div class="collapse" id="newsCollapse">
            <ul class="nav flex-column ml-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">公告設置</a>
                </li>
            </ul>
            </div>
        </li>
    </ul>
</div>