{% load tz %} {# 導入時區 #}
{% now "Y" as current_year %}
{% now "m" as current_month %}
{% load custom_tags %}


<div class="sidebar pl-2 collapse width show" id="sidebarCollapse">
    <div class="sidebar-logo">
        <img src="" alt="">
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#calendarCollapse" data-toggle="collapse"
                aria-expanded="false" aria-controls="calendarCollapse">
                <i class="fa-solid fa-user-pen" style="color: #ffffff;"></i> 個人管理
            </a>
            <div class="collapse" id="calendarCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar' %}">行程表</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#applicationCollapse" data-toggle="collapse"
                aria-expanded="false" aria-controls="applicationCollapse">
                <i class="fa-solid fa-clipboard" style="color: #ffffff;"></i> 申請管理
            </a>
            <div class="collapse" id="applicationCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Leave_Application' %}">請假申請</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Work_Overtime_Application' %}">加班申請</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Clock_Correction_Application' %}">補卡申請</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'TravelApplicationView' %}">車程申請</a>
                    </li>
                </ul>
            </div>
        </li>


        {% if user|in_group_T_or_F:"主管" or pass_test_func %}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#directorCollapse" data-toggle="collapse"
                aria-expanded="false" aria-controls="directorCollapse">
                <i class="fa-solid fa-user-tie" style="color: #ffffff;"></i> 主管管理
            </a>
            <div class="collapse" id="directorCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'director_Index' %}">部門員工</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}


        {% if user|in_group_T_or_F:"工程" or pass_test_func %}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#engineerCollapse" data-toggle="collapse"
                aria-expanded="false" aria-controls="engineerCollapse">
                <i class="fa-solid fa-wrench" style="color: #ffffff;"></i> 工程部
            </a>
            <div class="collapse" id="engineerCollapse">
                <ul class="nav flex-column ml-4">


                    {% if user|in_group_T_or_F:"工程確認" or pass_test_func %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project-confirmation' %}">工程確認單</a>
                    </li>
                    {% endif %}


                    {% if user|in_group_T_or_F:"工程派任" or pass_test_func %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project' %}">工作派任計畫</a>
                    </li>
                    {% endif %}


                    {% if user|in_group_T_or_F:"派工單" or pass_test_func %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_assign' %}">派工單</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </li>
        {% endif %}



        {% if user|in_group_T_or_F:"管理部權限管理" or user|in_group_T_or_F:"管理" or pass_test_func %}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#personnelCollapse" data-toggle="collapse"
                aria-expanded="false" aria-controls="personnelCollapse">
                <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> 管理部
            </a>
            <div class="collapse" id="personnelCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'department' %}">部門管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_list' %}">員工管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_attendance' %}">員工出勤</a>
                    </li>

                    {% if user|in_group_T_or_F:"管理部權限管理" or pass_test_func %}
                    <li class="nav-item">   
                        <a class="nav-link" href="{% url 'employee_permission_list'%}">權限管理</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'equipment' %}">固定資產管理</a>
                    </li>
                </ul>
            </div>
        </li>

        {% endif %}

        {% if user|in_group_T_or_F:"業務" or pass_test_func %}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-target="#salesCollapse" data-toggle="collapse"
                aria-expanded="false" aria-controls="salesCollapse">
                <i class="fa-solid fa-book-open" style="color: #ffffff;"></i> 業務部
            </a>
            <div class="collapse" id="salesCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-target="#clients" data-toggle="collapse"
                            aria-expanded="false" aria-controls="salesCollapse">
                            <!-- <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>  -->
                            報價單
                        </a>
                        <div class="collapse" id="clients">
                            <ul class="nav flex-column ml-4">
                                {% for client in clients %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'quotation_detail' client.id %}">
                                        {{ client.client_name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'work_item_list' %}">工項管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'client_list' %}">客戶管理</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}

        {% if user|in_group_T_or_F:"財務部" or pass_test_func %}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#financialCollapse" data-toggle="collapse" aria-expanded="false"
                aria-controls="financialCollapse">
                <i class="fa-solid fa-sack-dollar" style="color: #ffffff;"></i> 財務部
            </a>
            <div class="collapse" id="financialCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Leave_Param' %}">假別參數</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salary_list' current_year current_month %}">員工薪水</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#approvalCollapse" data-toggle="collapse" aria-expanded="false"
                aria-controls="approvalCollapse">

                <i class="fa-solid fa-pen" style="color: #ffffff;"></i> 簽核管理
            </a>
            <div class="collapse" id="approvalCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Approval_Process' %}">待簽核處理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Approval_List' %}">簽核追蹤</a>
                    </li>

                    {% if user|in_group_T_or_F:"簽核管理" or pass_test_func %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Approval_Group' %}">簽核順序</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </li>


        {% if user|in_group_T_or_F:"公告" or pass_test_func %}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#newsCollapse" data-toggle="collapse" aria-expanded="false"
                aria-controls="newsCollapse">
                <i class="fa-solid fa-bullhorn" style="color: #ffffff;"></i> 行政管理
            </a>
            <div class="collapse" id="newsCollapse">
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">公告設置</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
    </ul>
</div>