{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% load custom_tags %}


{% endblock %}


{% block main %}

<style>
    .client-header a {
        text-decoration: none;
        color: black;
    }

    .client-table td {
        vertical-align: middle;
    }

    .select2-container {
        font-size: 14px;
    }
</style>



<div class="main px-3">
    <div id="error-message"></div>
    <div class="client modal fade" id="client-modal" tabindex="-1" aria-labelledby="client" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="client-label">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" data-target="#none_equipment_tab">客戶管理</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" data-target="#person_tab">人員記錄</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" data-target="#address_tab">地址紀錄</a>
                            </li>

                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container shadow-sm">
                        <form action="/restful/client" id="form" method="POST" class="pb-4" data-method="post">
                            {% csrf_token %}
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="none_equipment_tab">
                                    <input name="id" hidden />
                                    <input name="address_str" id="address_str"  hidden />
                                    <input name="contact_str" id="contact_str"  hidden />

                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="client_name">客戶簡稱</label>
                                                <input class="form-control form-control-sm" name="client_name"
                                                    id="client_name" required></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <label for="tax_id">統一編號</label>
                                            <input class="form-control form-control-sm" name="tax_id" id="tax_id">
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="address">公司地址</label>
                                                <input class="form-control form-control-sm" name="address" id="address">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="client_english_name">客戶英文簡稱</label>
                                                <input class="form-control form-control-sm" name="client_english_name"
                                                    id="client_english_name"></input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <label for="contact_principal">公司負責人</label>
                                            <input class="form-control form-control-sm" name="contact_principal"
                                                id="contact_principal">
                                        </div>
                                        <div class="col-12 col-lg-4">

                                            <div class="form-group">
                                                <label for="address">公司成立日期</label>
                                                <input class="form-control form-control-sm" type="date"
                                                    name="established" id="established">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-row">

                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label for="client_id">客戶編號</label>
                                                <input class="form-control form-control-sm" name="client_id"
                                                    id="client_id">
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-2">
                                            <label for="pay_days">付款天數</label>
                                            <input class="form-control form-control-sm" name="pay_days"
                                                id="pay_days"></input>
                                        </div>

                                        <div class="col-12 col-lg-3">
                                            <div class="form-group">
                                                <label for="pay_method">付款方式</label>
                                                <select class="form-control form-control-sm" name="pay_method">
                                                    <option value="匯款">匯款</option>
                                                    <option value="票付">票付</option>
                                                    <option value="現金">現金</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="remark">備註</label>
                                                <textarea class="form-control form-control-sm" name="remark"
                                                    id="remark_control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <h4>報價單主要聯絡人員資料</h4>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="contact_person">聯絡人</label>
                                                <input class="form-control form-control-sm" name="contact_person"
                                                    id="contact_person">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="tel">電話</label>
                                                <input class="form-control form-control-sm" name="tel" id="tel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="mobile">手機</label>
                                                <input class="form-control form-control-sm" name="mobile" id="mobile">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="email">電子郵件</label>
                                                <input class="form-control form-control-sm" name="email" id="email">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="fax">傳真</label>
                                                <input class="form-control form-control-sm" name="fax" id="fax">
                                            </div>
                                        </div>


                                    </div>
                                    
                                </div>

                                <div class="tab-pane fade" id="person_tab">
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="name">姓名</label>
                                                <input type="text" class="form-control form-control-sm" name="name"
                                                    id="name"></input>
                                            </div>
                                            <div class="form-group">
                                                <label for="position">職稱</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="position" id="position"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="telOrExt">電話/分機</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="telOrExt" id="telOrExt"></input>
                                            </div>
                                            <div class="form-group">
                                                <label for="person_fax">傳真</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="person_fax" id="person_fax"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="phone">行動電話</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="phone" id="phone"></input>
                                            </div>
                                            <div class="form-group">
                                                <label for="mail">mail</label>
                                                <input type="email" class="form-control form-control-sm"
                                                    name="mail" id="mail"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="person_remark">備註</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="person_remark" id="person_remark"></input>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    <button type="button" id="person_form_btn"class="btn border border-dark rounded" style="color: #fff;background: #1E3050;">新增聯絡人員</button>
                                    <table class="table" id="person" style="border:3px #cccccc solid;">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>職稱</th>
                                                <th>電話/分機</th>
                                                <th>傳真</th>
                                                <th>行動電話</th>
                                                <th>mail</th>
                                                <th>備註</th>
                                                <th>刪除</th>
                                            </tr>
                                        </thead>
                                        <tbody id="person_tbody">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="address_tab">
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="contact_address">地址</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="contact_address" id="contact_address"></input>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="address_remark">備註</label>
                                                <input type="text" class="form-control form-control-sm"
                                                    name="address_remark" id="address_remark"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" id="address_form_btn"class="btn border border-dark rounded"
                                                style="color: #fff;background: #1E3050;">新增聯絡地址</button>
                                    <table class="table" id="worklist" style="border:3px #cccccc solid;">
                                        <thead>
                                            <tr>
                                                <th>地址</th>
                                                <th>備註</th>
                                            </tr>
                                        </thead>
                                        <tbody id="address_tbody">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;">送出</button>
                                <button type="button" class="btn border border-dark rounded w-50 mx-4"
                                    style="color: #fff;background: #1E3050;" data-dismiss="modal">關閉</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                <div class="client-header container-fluid">
                    <a href="" class="font-weight-bold" id="sys_new" data-toggle="modal" data-target="#client-modal">
                        <i class="fa-solid fa-plus fa-sm" style="color: #000000;"></i> 新增客戶
                    </a>
                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('客戶.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('客戶.xlsx')">匯出已選資料</button>
                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">編輯</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="delete">刪除</th>
                    <th data-field="client_name" data-sortable="true">客戶簡稱</th>
                    <th data-field="client_user" data-sortable="true">聯絡人</th>
                    <th data-field="tel" data-sortable="true">電話</th>
                    <th data-field="mbile" data-sortable="true">傳真</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for client in client_list %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                            value="{{ client.id }}"></td>
                    <td>
                        <a data-target="#client-modal" type="button" data-url="client" data-id="{{ client.id }}"
                            class=" btn btn-sm btn-warning" data-toggle="modal" onclick="LoadData(event)">
                            <i class="fas fa-sm fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a data-url="client" data-target="#client-modal" data-id="{{ client.id }}" type="button"
                            class="sys_del btn btn-sm btn-danger" onclick="DELETE_handleClick(event)">
                            <i class="far fa-sm fa-trash-alt"></i>
                        </a>
                    </td>

                    <td>
                        {{ client.client_name }}
                    </td>
                    <td>
                        {{ client.contact_person }}
                    </td>
                    <td>
                        {{ client.tel }}
                    </td>
                    <td>
                        {{ client.mobile }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/client/person.js' %}",
            "{% static 'js/bootstrap-table/checked_row.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

    async function LoadData(event) {
        console.log("load")
        getdata = await GET_handleClick(event);
        
        person_del_show = true;
        var person_str_value_load = getdata["contact_str"];
        var address_str_value_load = getdata["address_str"];
        
        var personJsonArray =[]
        if(person_str_value_load){
            personJsonArray= JSON.parse(person_str_value_load);
        }
        var addressJsonArray =[]
        if(address_str_value_load){
            addressJsonArray= JSON.parse(address_str_value_load);
        }


        person_ary = personJsonArray;
        // address_ary = addressJsonArray;

        renderPersonsList();
        // renderAddressList();

    }
</script>
{% endblock %}