{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}



{% endblock %}


{% block main %}
<div class="main px-3">
    <div class="leave_param_table container">
        <div class="mx-auto shadow-sm container-fluid table-responsive-lg">
            <form action="#" method="post">
                <table class="table table-sm table-hover">
                    <thead class="thead-light text-center">
                        <tr class="text-nowrap" style="font-size: 14px;">
                            <th>假別代碼</th>
                            <th>假別名稱</th>
                            <th>項目類別</th>
                            <th>給假數</th>
                            <th>最低請假數(為0就不卡控)</th>
                            <th>最小請假單位(為0就不卡控)</th>
                            <th>單位</th>
                            <th>附件稽核</th>
                            <th>附件提示</th>
                            <th>扣薪 %</th>
                            <th>假控</th>
                            <th>性別</th>
                            <th>請假規定</th>
                        </tr>
                    </thead>
                    <tbody class="text-nowrap text-center" style="font-size: 14px;">
                        {% for l in leave_param %}
                        <tr>
                            <td>{{ l.get_show_id}}</td>
                            <td>
                                <input type="text" name="name" class="form-control form-control-sm" value="{{ l.leave_name }}">
                            </td>
                            <td>{{ l.leave_type }}</td>
                            <td>
                                <input type="text" name="name" class="form-control form-control-sm" value="{{ l.days }}">
                            </td>
                            <td>
                                <input type="text" name="name" class="form-control form-control-sm" value="{{ l.minimum_leave_number }}" >
                            </td>
                            <td>
                                <input type="text" name="name" class="form-control form-control-sm" value="{{ l.minimum_leave_unit }}" >
                            </td>
                            <td>{{ l.unit }}</td>
                            <td>
                                <input type="checkbox" name="is_audit" class="form-check-input" value="{{ l.is_audit }}"
                                {% if l.is_audit %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" name="is_audit" class="form-check-input" value="{{ l.is_attachment }}" >{{ l.is_attachment }}
                            </td>
                            <td>
                                <input type="text" name="name" class="form-control form-control-sm" value="{{ l.deduct_percentage }}" >
                            </td>
                            <td>{% if l.control %}是{% else %}否{% endif %}</td>
                            <td>
                                <input type="text" name="name" class="form-control form-control-sm" value="{{ l.gender }}" >
                            </td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                          <td colspan="13">
                            <input type="submit" class="btn border border-dark rounded"style="color: #fff;background: #1E3050;"value="送出">
                          </td>
                        </tr>
                      </tfoot>
                </table>
            </form>
        </div>
        
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

</script>


{% endblock %}