{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}
{% load custom_tags %}


{% load static%}
<style>
    .leave_application-header a {
        text-decoration: none;
        color: black;
    }

    .leave_application-table td {
        vertical-align: middle;
    }
    .bootstrap-table .fixed-table-container .table thead th {
        padding: 0 10px 6px 10px;
    }
    .filter-control input, .filter-control select{
        font-size: 12px;
        height: 1.5rem;
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        /* line-height: 1.5; */
        background: #f5f5f5;
        border-radius: 0.2rem;
    }
</style>

{% endblock %}


{% block main %}




<div class="main px-3">
    <div id="error-message"></div>
    <div class="leave_application modal fade" id="leave-application-modal" tabindex="-1"
        aria-labelledby="leave_application" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="leave_application-label">請假申請</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container shadow-sm">
                        {% include 'components\leave_application_form.html' with showbtn=True %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="leave_application-table container-fluid shadow-sm table-responsive-lg">
        <table class="table table-sm table-hover text-center" id="table" data-toggle="table" data-sortable="true"
            data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-filter-strict-search="true"
            data-show-columns-toggle-all="true" data-pagination="true" data-page-size="25" data-page-list="[25, All]"
            data-filter-control="true">
            <div id="toolbar">
                <div class="leave_application-header container-fluid">

                    <button class="d-none d-md-inline-block" onclick="exportAllOptionToExcel('員工.xlsx')"
                        data-export-url="{% url 'excel_export' %}">匯出全部資料</button>
                    <button class="d-none d-md-inline-block"
                        onclick="exportSelectedOptionToExcel('員工.xlsx')">匯出已選資料</button>

                </div>
            </div>
            <thead class="thead-light" style="font-size: 14px;">
                <tr class="text-nowrap">
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="checkbox"
                        class="d-none d-md-table-cell">匯出</th>
                    <th data-force-hide="true" data-switchable="false" data-no-print="true" data-field="edit">查看</th>

                    <th data-filter-control="input" data-field="app" data-sortable="true">簽核</th>
                    <th data-filter-control="input" data-field="id" data-sortable="true">單號</th>
                    <th data-filter-control="input" data-field="1" data-sortable="true">申請人編號</th>
                    <th data-filter-control="input" data-field="2" data-sortable="true">申請人</th>
                    <th  data-field="3" data-sortable="true">附件</th>
                    <th data-filter-control="input" data-field="type_of_leave" data-sortable="true">假別項目</th>
                    <th data-filter-control="input" data-field="date_of_leave" data-sortable="true">請假日期</th>
                    <th data-filter-control="input" data-field="time_of_leave" data-sortable="true">請假時間</th>
                    <th data-filter-control="input" data-field="leave_hours" data-sortable="true">系統計算時數</th>
                    <th data-filter-control="input" data-field="substitute" data-sortable="true">工作代理人</th>
                    <th data-filter-control="input" data-field="leave_reason" data-sortable="true">請假事由</th>
                    <th data-filter-control="input" data-field="backlog" data-sortable="true">待辦事項</th>
                </tr>
            </thead>
            <tbody class="text-nowrap" style="font-size: 14px;">
                {% for leave_application in leave_application_list %}
                <tr>
                    <td><input type="checkbox" name="importcheckd" onclick="updateCheckedArray(this)"
                            value="{{ leave_application.id }}"></td>
                    <td>
                        <a data-target="#leave-application-modal" type="button" data-url="leave_application"
                            data-id="{{ leave_application.id }}" class=" btn btn-sm btn-warning"
                            data-approval="{{ leave_application.Approval.current_status}}" data-toggle="modal"
                            onclick="LoadData(event)">
                            <i class="fas fa-sm fa-eye"></i>
                        </a>
                    </td>

                    <td>

                        {% if leave_application.Approval.get_current_status_display %}
                        {{leave_application.Approval.get_current_status_display}}
                        {% else %}
                        未開始簽核
                        {% endif %}


                    </td>
                    <td>
                        {% if leave_application.get_show_id %}{{ leave_application.get_show_id }}{% else %}{% endif %}
                    </td>
                    <td >{{ leave_application.created_by.employee_id }}</td>
                    <td >{{ leave_application.created_by.full_name }}</td>
                    <td >{{ leave_application.reassignment_attachment_link }}</td>
                    <td>
                        {% if leave_application.type_of_leave %}{{ leave_application.type_of_leave }}{% else %}{% endif %}
                    </td>
                    <td>
                        {{ leave_application.start_date_of_leave|date:"Y-m-d" }} -
                        {{ leave_application.end_date_of_leave|date:"Y-m-d" }}
                    </td>
                    <td>
                        {{ leave_application.start_hours_of_leave| stringformat:"02d" }}:{{ leave_application.start_mins_of_leave| stringformat:"02d" }} -
                        {{ leave_application.end_hours_of_leave| stringformat:"02d"  }}:{{ leave_application.end_mins_of_leave| stringformat:"02d" }}
                    </td>
                    <td>
                        {{ leave_application.calculate_leave_duration.0 }}時
                        {{leave_application.calculate_leave_duration.1 | stringformat:"02d" }}分    
                    </td>
                    <td>
                        {% if leave_application.substitute %}{{ leave_application.substitute }}{% else %}{% endif %}
                    </td>
                    <td>
                        {% if leave_application.leave_reason %}{{ leave_application.leave_reason }}{% else %}{% endif %}
                    </td>
                    <td>
                        {% if leave_application.backlog %}{{ leave_application.backlog }}{% else %}{% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scripts = [
            "{% static 'js/fuc/restful.js' %}",
            "{% static 'js/fuc/LoadSelect.js' %}",
            "{% static 'js/fuc/approval.js' %}",
            "{% static 'js/bootstrap-table/checked_row_api.js' %}",
            "{% static 'js/bootstrap-table/exportAllOptionToExcel.js' %}",
            "{% static 'js/bootstrap-table/exportSelectedOptionToExcel.js' %}",
            "{% static 'js/leave_application/leave_application.js' %}",
        ];

        scripts.forEach(function (src) {
            var script = document.createElement('script');
            script.src = src;
            document.body.appendChild(script);
        });
    });

    async function LoadData(event) {
        const approvalStatus = event.currentTarget.getAttribute('data-approval');

        lock_input();

        console.log("load")
        getdata = await GET_handleClick(event);

    }



</script>
{% endblock %}