{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/basic.min.css" integrity="sha512-8k0lsWpVPSg08/yrT3eSlr/HG5mxRghr8Uh6gkOaj2KOi8chn6nws1ytLlo99CKVzKE6JuCopJHh0RbUfWGMBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha512-zoIoZAaHj0iHEOwZZeQnGqpU8Ph4ki9ptyHZFPe+BmILwqAksvwm27hR9dYH4WXjYY/4/mz8YDBCgVqzc2+BJA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% load static%}
<link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">

{% endblock %}


{% block main %}
<div class="main">
    <div class="profile-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            基本資料
        </span>
    </div>
    <div class="container shadow-sm">
        <div class="row my-4 py-4">
            <div class="col-6 col-md-3 text-center">
                <div class="profile_img w-50 mx-auto mb-2">
                    {% if user.employee.profile_image %}
                        <img class="img-fluid" src="{{ user.employee.profile_image.url }}" alt="員工照片" id="image-upload">
                    {% else %}
                        <img class="img-fluid" src="{% static 'img/profile/default_profile.png' %}" alt="員工照片" id="image-upload">
                    {% endif %}
                </div>
                <form id="profileImageForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>
                        <input id="profileImageInput" type="file" name="profile_image" style="display: none;">
                        更換照片
                    </label>
                    <input type="submit" class="btn" value="確定">
                </form>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    員工名稱：{{ user.employee.full_name }}
                </div>
                <div class="form-group">
                    所屬部門：{{ user.employee.departments }}
                </div>
                <div class="form-group">
                    職稱：OOO
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    員工編號：OO
                </div>
                <div class="form-group">
                    目前年資：OO
                </div>
            </div>
        </div>
    </div>
    <div class="profile-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            更改密碼
        </span>
    </div>
    <div class="container shadow-sm">
        <div class="row">
            <div class="col-5">
                <form id="profileform">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="current-password-form-control">請輸入目前密碼</label>
                        <input type="password" class="form-control form-control-sm" id="current-password-form-control"
                            name="old_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password-form-control">請輸入新密碼</label>
                        <input type="password" class="form-control form-control-sm" pattern="^(?=.*[a-zA-Z]).{8,}$"
                            title="至少8位數，不能全部是數字" name="new_password1" id="new-password-form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password-form-control">再輸入一次密碼</label>
                        <input type="password" class="form-control form-control-sm" id="confirm-password-form-control"
                            name="new_password2" required>
                    </div>
                    <button type="submit" class="btn border border-dark rounded w-100 "
                        style="color: #fff;background: #1E3050;">送出</button>
                </form>
            </div>
            <div class="col-7">
                <div class="password-rule">
                    <ul>
                        <li>你的密碼不能與其他個人資訊太相近。</li>
                        <li>你的密碼必須包含至少 8 個字元。</li>
                        <li>你不能使用常見的密碼。</li>
                        <li>你的密碼不能完全是數字。</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // 共用事件
    function getcsrftoken() {
        var name = "csrftoken";
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    console.log("eee")
    
    $("#profileform").on("submit", function (event) {
        event.preventDefault();
        // console.log(jsonData)

        var form = $(this);
        var formData = form.serialize();
        // var jsonData = JSON.stringify(formData);
        // console.log(jsonData)
        $.ajax({
            type: "post",
            url: "{% url 'profile_view_api' %}",
            data: formData,
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                alert("操作成功");
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 400) {
                    // 處理400錯誤，顯示伺服器返回的錯誤訊息
                    var errorMessage = xhr.responseJSON.data;
                    console.log(errorMessage)
                    console.log(errorMessage[0])
                    var errorMessageHTML = "<ul>";
                    Object.entries(errorMessage).map(([key, errors]) => {
                        errors.forEach(error => {
                            errorMessageHTML += "<li><strong>" + key + ":</strong> " + error + "</li>";
                        });
                    });
                    errorMessageHTML += "</ul>";
                    console.log(errorMessageHTML)


                    Swal.fire({
                        title: '更新失敗',
                        html: errorMessageHTML,
                        icon: 'error',
                        confirmButtonText: '確定',
                    })
                } else {
                    // 其他錯誤處理
                    alert("系統發生錯誤");
                }
            }
        });

    });
    $("#profileImageForm").on("submit", function (event) {
        event.preventDefault();
        console.log("put")
        /*上網查的各種做法*/
        var profileImageFile = $("#profileImageInput")[0].files[0];
        // console.log(profileImageFile)
        // 以下兩個方式都可以抓到表單DOM
        // console.log($("#profileImageForm").eq(0)[0])
        // console.log($("#profileImageForm")[0])
        // var formData = new FormData($("#profileImageForm").eq(0)[0]); //單純用jQuery $("#profileImageForm")取得的是數組，不是DOM，會報錯
        // formData.append('profile_image', profileImageFile);
        // var formData = new FormData($( "#profileImageForm" )[0]); 
        // var formData = new FormData(form);

        /*看restful.js的作法*/
        // var form = $(this);
        // var formData = form.serialize();

        /*自己塞formData*/
        var formData = {"profile_image":profileImageFile}
        console.log(formData)
            $.ajax({
                type: "put",
                url: "{% url 'profile_view_api' %}",
                data: formData,
                async: false, 
                cache: false, 
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRFToken': getcsrftoken()
                },
                success: function (response) {
                    alert("操作成功");
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 400) {
                        // 處理400錯誤，顯示伺服器返回的錯誤訊息
                        var errorMessage = xhr.responseJSON.data;
                        console.log(errorMessage)
                        console.log(errorMessage[0])
                        Swal.fire({
                            title: '更新失敗',
                            html: errorMessageHTML,
                            icon: 'error',
                            confirmButtonText: '確定',
                        })
                    } else {
                        // 其他錯誤處理
                        alert("系統發生錯誤");
                    }
                }
            });

    });

</script>

{% endblock %}