{% extends 'base/base_dashboard.html' %}

{% block title %}艾力克電機{% endblock %}

{% block import %}

{% load static%}

{% endblock %}


{% block main %}
<div class="main">
    <div class="profile-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            基本資料
        </span>
    </div>
    <div class="container shadow-sm">
        {% csrf_token %}
        <div class="row my-4">
            <div class="col-6 col-md-3">
                <div class="form-group">
                    員工名稱：{{ user.employee.full_name }}
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    所屬部門：OOO
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    職稱：OOO
                </div>
            </div>
                <div class="col-6 col-md-3">
                    <div class="form-group">
                        目前年資：OO
                    </div>
                </div>
        </div>
    </div>
    <div class="profile-header container mb-4">
        <span class="font-weight-bold" style="font-size: clamp(1rem, 2vw, 1.3rem);">
            更改密碼
        </span>
    </div>
    <div class="container shadow-sm">
        <div class="row">
            <div class="col-5">
                <form action="{% url 'profile_view_api' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="current-password-form-control">請輸入目前密碼</label>
                        <input type="password" class="form-control form-control-sm" name="current-password" id="current-password-form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password-form-control">請輸入新密碼</label>
                        <input type="password" class="form-control form-control-sm" pattern="^(?=.*[a-zA-Z]).{8,}$" title="至少8位數，不能全部是數字" name="new-password" id="new-password-form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password-form-control">再輸入一次密碼</label>
                        <input type="password" class="form-control form-control-sm" name="confirm-password" id="confirm-password-form-control" required>
                    </div>
                    <button type="submit" class="btn border border-dark rounded w-100 " style="color: #fff;background: #1E3050;">送出</button>
                </form>
            </div>
            <div class="col-7">
                <div class="password-rule">
                    <ul>
                        <li>你的密碼不能與其他個人資訊太相近。</li>
                        <li>你的密碼必須包含至少 8 個字元。</li>
                        <li>你不能使用常見的密碼。</li>
                        <li>你的密碼不能完全是數字。</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- <script>
    $(document).ready(function() {
        $('#change-password-form').submit(function(event) {
            var newPassword = $('#new-password-form-control').val();
            var confirmPassword = $('#confirm-password-form-control').val();

            if (newPassword !== confirmPassword) {
                alert('兩次輸入的密碼不相符');
                event.preventDefault();
            }
        });
    });
</script> -->
{% endblock %}