.project-confirmation-header a{
    text-decoration: none;
    color: black;
}
.project-confirmation-header .upload-file:hover{
    cursor: pointer;
}
.project-confirmation-table td{
    vertical-align: middle;
}
.select2-container {
    font-size: 14px;
}
.filter-control input{
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/* 這些再留一下，穩定後就可刪除不須要 */
/* 控制 Table 第一列表頭固定 */
/* .project-confirmation-table {
    height:70vh;  
    overflow:scroll;
} */
/* thead tr:nth-child(1) th{
    position: sticky;
    top: 0;
    z-index: 1;
} */
/* .fixed-table-toolbar{
    position: sticky;
    top: 0;
    z-index: 1;
    background: #e9ecef;
}
.bootstrap-table .fixed-table-container .table thead th{
    position: sticky;
    top: 0;
    z-index: 2;
} */
